/* classic.css *  */

.btn{height:30px;font-size:14px;background:#99a8b8;color:#fff;border-radius:4px}
.btn ._c{padding-left:18px}
.btn ._t,.btn ._i{padding-right:18px}
.btn ._m{width:26px}
.btn ._m .f-arw{border-top-color:#fff;margin-right:2px}
.btn.z-ds,.btn.btn-main.z-ds{color:#99a8b8;background:#edf4f7;cursor:default}
.btn.z-ds ._m .f-arw{border-top-color:#99a8b8}
.btn.z-combo ._c{margin-right:27px}
.btn.z-combo ._t{padding-right:15px}
.btn.z-combo ._m{border-left:1px solid #fff}
.btn.z-normal.z-hv,.btn.z-more.z-hv,.btn.z-combo ._c.z-hv,.btn.z-combo ._m.z-hv{background:#8396a9;z-index:1}
.btn.z-normal.z-dn,.btn.z-more.z-dn,.btn.z-combo ._c.z-dn,.btn.z-combo ._m.z-dn,.btn.z-more.z-snap,.btn.z-combo.z-snap ._m{background:#6e8094;z-index:1}
.btn.w-submit{background:#53cfa5;color:#fff}
.btn.z-normal.w-submit.z-hv,.btn.z-more.w-submit.z-hv,.btn.z-combo.w-submit ._c.z-hv,.btn.z-combo.w-submit ._m.z-hv{background:#63dcb3}
.btn.z-normal.w-submit.z-dn,.btn.z-more.w-submit.z-dn,.btn.z-combo.w-submit ._c.z-dn,.btn.z-combo.w-submit ._m.z-dn,.btn.z-more.w-submit.z-snap,.btn.z-combo.w-submit.z-snap ._m{background:#45be95}
.btn.z-on{background:#596e85}
.btn.z-on.z-hv,.btn.z-on.z-combo ._c.z-hv,.btn.z-on.z-combo ._m.z-hv{background:#4d6177}
.groupbar .btn{border-radius:0}
.groupbar .btn.z-first{border-top-left-radius:4px;border-bottom-left-radius:4px}
.groupbar .btn.z-last{border-top-right-radius:4px;border-bottom-right-radius:4px}
.groupbar ._vr{display:none}

.btn.btn-main{background:#18b4ed;color:#fff}
.btn.btn-main.z-normal.z-hv,.btn.btn-main.z-more.z-hv,.btn.btn-main.z-combo ._c.z-hv,.btn.btn-main.z-combo ._m.z-hv{background:#39c5f8}
.btn.btn-main.z-normal.z-dn,.btn.btn-main.z-more.z-dn,.btn.btn-main.z-combo ._c.z-dn,.btn.btn-main.z-combo ._m.z-dn,.btn.btn-main.z-more.z-snap,.btn.btn-main.z-combo.z-snap ._m{background:#1094c6}

/*.w-input.z-empty{background:#def}*/
