.index-root {
    background-color: #edf0f2;
}

.index-head {
    background-color: #009bdb;
}

.w-buttonbar.index-head-nav {

}

.w-buttonbar.index-head-nav .w-button {
    color: #fff;
    background-color: transparent;
    border-color: transparent;
}

.w-buttonbar.index-head-nav .w-button.z-hv {
    background-color: #19a3fb;
}

.w-buttonbar.index-head-nav .w-button.z-on {
    background-color: #1989e0;
}

.w-buttonbar.index-head-oper {

}

.w-buttonbar.index-head-oper .w-button {
    color: #fff;
    background-color: transparent;
    border-color: transparent;
}

.w-buttonbar.index-head-oper .w-button ._c {
    padding-left: 5px;
}

.w-buttonbar.index-head-oper .w-button ._t, .w-buttonbar.index-head-oper .w-button ._i {
    padding-right: 5px;
}

.w-buttonbar.index-head-oper .w-button.z-hv {
    background-color: #19a3fb;
}

.index-module-menu {
    background-color: #414141;
    color: #fff;
    font-size: 14px;
}

.index-module-menu .w-leaf.z-hv, .index-module-menu .w-leaf.z-hv .w-leaf-t {
    background-color: #363636;
}

.index-module-menu .w-leaf.z-on, .index-module-menu .w-leaf.z-on .w-leaf-t {
    background-color: #313131;
}

.index-module-menu .w-leaf .w-leaf-o {
    background: url(./img/left_dot_icon_16.png) -30px -30px;
    width: 16px;
    height: 16px;
    visibility: visible;
    margin: 0 15px 0 5px;
}

.index-module-menu .w-leaf.z-folder.z-open .w-leaf-o {
    background-position: -60px 0;
}

.index-module-menu .w-leaf.z-folder .w-leaf-o {
    background-position: -30px 0;
}

.index-module-menu .f-arw {
    display: none;
}