@CHARSET "UTF-8";
/*默认按钮*/
.w-buttonbar .w-button,
.w-button.x-btn {
    border-radius: 0;
}

/**滚动条**/
.f-scroll-x .f-scroll-x-track {
    border-radius: 0;
}

.f-scroll-y .f-scroll-y-track {
    border-radius: 0;
}
