/**
 *  global.css
 *	author	cmy
 *  date	2013-4-2
 *  
 *  建议存放样式种类: 全局的字体、链接; 不同风格下变化不大的控件样式。变化可能比较大的控件样式应该放入 $theme.css
 *  样式名不要以 w- 和 f- 开头，这两个是dfish引擎使用的样式头
 *  样式名规范:i- 代表图片
 *
 */

/*****全局样式*****/
html, body {
    scrollbar-face-color: #efefe7;
    scrollbar-highlight-color: #fff;
    scrollbar-3dlight-color: #a5a5a5;
    scrollbar-darkshadow-color: #a5a5a5;
    scrollbar-shadow-color: #d6d6ce;
    scrollbar-arrow-color: #003184;
    scrollbar-track-color: #f3f2f1;
}

.f-body, .w-input input, .w-input textarea, .w-input select {
    font: 14px/1.5 "Microsoft yahei", "Microsoft jhenghei", "Segoe UI",
    tahoma, simsun;
    color: #000;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: #333;
}

a:hover {
    color: #0088e4;
    text-decoration: underline;
}

.x-em {
    font-weight: bold;
    color: #098cee;
    font-style: normal;
}

i {
    font-style: normal;
}

.hand {
    cursor: pointer;
}

.bold {
    font-weight: bold;
}

/**↓背景样式↓**/
.bg-white {
    background: #fff;
}

/**↑背景样式↑**/

/*****边框样式*****/
.bd-main, .bd-split {
    border: 1px solid #ddd;
}

.bd-notop {
    border-top: 0 !important;
}

.bd-noright {
    border-right: 0 !important;
}

.bd-nobottom {
    border-bottom: 0 !important;
}

.bd-noleft {
    border-left: 0 !important;
}

.bd-onlytop {
    border-width: 1px 0 0 0 !important;
}

.bd-onlyright {
    border-width: 0 1px 0 0 !important;
}

.bd-onlybottom {
    border-width: 0 0 1px 0 !important;
}

.bd-onlyleft {
    border-width: 0 0 0 1px !important;
}

/**↓组件状态↓**/
.z-ds {
    cursor: default !important;
}

/**↑组件状态↑**/

/**↓表格↓**/
.w-grid .w-grid-thead {
    height: 40px;
    background-color: #96cee9;
}

.w-grid .w-grid-tbody .w-tr {
    height: 40px;
}

.w-grid .w-grid-tbody .w-tr.z-hv {
    background-color: #d5ecff;
}

.w-grid .w-grid-tbody .w-tr.z-on {
    background-color: #bce0ff;
}

.w-grid.z-empty .w-grid-bg, .w-album.z-empty, .w-tree.z-empty {
    background: url("./img/nodata_160.png") no-repeat center;
    min-height: 160px;
}

.w-grid .w-td-cell.z-first {
    border-left: 1px solid #e9e9e9;
}

.w-grid .w-td-cell.z-last {
    border-right: 1px solid #e9e9e9;
}

/*.w-grid .w-tr td.z-first {*/
/*    padding-left: 10px;*/
/*}*/

/*.w-grid .w-tr td.z-last {*/
/*    padding-right: 10px;*/
/*}*/
.w-form .w-grid-tbody .w-tr.z-hv {
    background-color: transparent;
}

.w-form .w-grid-tbody .w-tr.z-on {
    background-color: transparent;
}

/**↑表格↑**/

/**↓分页栏↓**/
.w-pagebar.z-face-normal ._o {
    cursor: not-allowed;
    height: 32px;
    line-height: 32px;
    padding: 0 10px;
    margin-right: 0;
    border-width: 1px 1px 1px 0;
    border-style: solid;
    border-color: #ddd;
    color: #999;
    font-size: 13px;
}

.z-nofirstlast ._o._prev {
    border-left-width: 1px;
}

.w-pagebar.z-face-normal ._o._num {
    line-height: 32px;
}

.w-pagebar.z-face-normal ._o._first {
    border-left-width: 1px;
}

.w-pagebar.z-face-normal ._o.z-us {
    cursor: pointer;
    color: #333;
}

.w-pagebar.z-face-normal ._o.z-us.z-hv {
    border-color: #1e92df;
    color: #fff;
    background: #1e92df;
}

.w-pagebar.z-face-normal ._o._cur {
    cursor: not-allowed;
    color: #1e92df;
}

.w-pagebar.z-face-normal ._jump, .w-pagebar.z-face-normal ._jbtn {
    height: 32px;
}

.w-pagebar.z-face-normal ._jump.z-on {
    border-color: #19a3fb;
}

.w-pagebar.z-face-normal .w-buttonbar .w-button._jbtn.z-hv, .w-pagebar.z-face-normal .w-buttonbar .w-button._jbtn.z-on {
    background-color: #19a3fb;
    color: #fff;
}

/**↑分页栏↑**/

/**↓树节点↓**/
.w-leaf-i {
    min-width: 0;
}

/*d5ecff  bce0ff*/
.w-leaf.z-hv, .w-leaf.z-hv .w-leaf-t {
    background-color: #d5ecff;
}

.w-leaf.z-on, .w-leaf.z-on .w-leaf-t {
    background-color: #bce0ff;
}

/**↑树节点↑**/

/**↓按钮↓**/

/* 按钮默认样式 */
.w-buttonbar .w-button,
.w-button.x-btn {
    font-size: 14px;
    border: 1px solid #ccc;
    background-color: #fff;
    color: #333;
    border-radius: 4px;
}

.w-buttonbar .w-button ._t,
.w-button.x-btn ._t {
    width: auto;
}

/*按钮样式默认和文字左右间隔15px  */
.w-buttonbar .w-button ._t, .w-buttonbar .w-button ._i,
.w-button.x-btn ._t, .w-button.x-btn ._i {
    padding-right: 15px;
}

.w-buttonbar .w-button ._c,
.w-button.x-btn ._c {
    padding-left: 15px;
}

/* 按钮-禁用 */
.w-buttonbar .w-button.z-ds,
.w-button.x-btn.z-ds {
    cursor: default;
    background-color: #eee;
}

.w-buttonbar .w-button.z-ds ._m .f-arw,
.w-button.x-btn.z-ds ._m .f-arw {
    border-top-color: #aaa;
}

/* 按钮-鼠标经过 */
.w-buttonbar .w-button.z-normal.z-hv, .w-buttonbar .w-button.z-more.z-hv, .w-buttonbar .w-button.z-combo ._c.z-hv, .w-buttonbar .w-button.z-combo ._m.z-hv,
.w-button.x-btn.z-normal.z-hv, .w-button.x-btn.z-more.z-hv, .w-button.x-btn.z-combo ._c.z-hv, .w-button.x-btn.z-combo ._m.z-hv {
    background-color: #f8f8f8;
}

/* 按钮-鼠标点击 */
.w-buttonbar .w-button.z-normal.z-dn, .w-buttonbar .w-button.z-more.z-dn, .w-buttonbar .w-button.z-combo ._c.z-dn, .w-buttonbar .w-button.z-combo ._m.z-dn, .w-buttonbar .w-button.z-more.z-snap, .w-buttonbar .w-button.z-combo.z-snap ._m,
.w-button.x-btn.z-normal.z-dn, .w-button.x-btn.z-more.z-dn, .w-button.x-btn.z-combo ._c.z-dn, .w-button.x-btn.z-combo ._m.z-dn, .w-button.x-btn.z-more.z-snap, .w-button.x-btn.z-combo.z-snap ._m {
    background-color: #eaeaea;
}

/* 选项按钮 */
.w-buttonbar .w-button.z-combo ._m,
.w-button.x-btn.z-combo ._m {
    border-left: 1px solid #ccc;
}

/* 主按钮 */
.w-buttonbar .w-button.w-submit,
.w-button.x-btn.w-submit {
    background-color: #1e92df;
    border-color: #1e92df;
    color: #fff;
}

/* 主按钮-禁用 */
.w-buttonbar .w-button.w-submit.z-ds,
.w-button.x-btn.w-submit.z-ds {
    background-color: #def0fe;
    border-color: #def0fe;
    color: #999;
}

/* 主按钮-鼠标经过 */
.w-buttonbar .w-button.z-normal.w-submit.z-hv, .w-buttonbar .w-button.z-more.w-submit.z-hv, .w-buttonbar .w-button.z-combo.w-submit ._c.z-hv, .w-buttonbar .w-button.z-combo.w-submit ._m.z-hv,
.w-button.x-btn.z-normal.w-submit.z-hv, .w-button.x-btn.z-more.w-submit.z-hv, .w-button.x-btn.z-combo.w-submit ._c.z-hv, .w-button.x-btn.z-combo.w-submit ._m.z-hv {
    background: #19a3fb;
}

/* 主按钮-鼠标点击 */
.w-buttonbar .w-button.z-normal.w-submit.z-dn, .w-buttonbar .w-button.z-more.w-submit.z-dn, .w-buttonbar .w-button.z-combo.w-submit ._c.z-dn, .w-buttonbar .w-button.z-combo.w-submit ._m.z-dn, .w-buttonbar .w-button.z-more.w-submit.z-snap, .w-buttonbar .w-button.z-combo.w-submit.z-snap ._m,
.w-button.x-btn.z-normal.w-submit.z-dn, .w-button.x-btn.z-more.w-submit.z-dn, .w-button.x-btn.z-combo.w-submit ._c.z-dn, .w-button.x-btn.z-combo.w-submit ._m.z-dn, .w-button.x-btn.z-more.w-submit.z-snap, .w-button.x-btn.z-combo.w-submit.z-snap ._m {
    background: #1989e0;
}

.w-buttonbar.face-text .w-button ._t, .w-buttonbar.face-text .w-button ._i, .w-buttonbar.face-text .w-button ._t, .w-buttonbar.face-text .w-button ._i {
    padding-right: 5px;
}

.w-buttonbar.face-text .w-button ._c, .w-buttonbar.face-text .w-button ._c {
    padding-left: 5px;
}

.w-buttonbar.face-text .w-button.z-normal, .w-buttonbar.face-text .w-button.z-normal {
    border-color: transparent;
    background-color: transparent;
}

.w-buttonbar.face-text .w-button.z-normal.z-hv, .w-buttonbar.face-text .w-button.z-normal.z-on, .w-buttonbar.face-text .w-button.z-normal.z-dn, .w-buttonbar.face-text .w-button.z-normal.z-ds {
    background-color: transparent;
}

.w-buttonbar.x-breadcrumb .w-button.z-normal {
    border-color: transparent;
    background-color: transparent;
}

.w-buttonbar.x-breadcrumb .w-button.z-normal.z-hv, .w-buttonbar.x-breadcrumb .w-button.z-normal.z-on, .w-buttonbar.x-breadcrumb .w-button.z-normal.z-dn, .w-buttonbar.x-breadcrumb .w-button.z-normal.z-ds {
    background-color: transparent;
}

.w-buttonbar.x-breadcrumb .w-button.z-normal.z-ds {
    color: #aaa;
}

.w-buttonbar.dlg-head-oper .w-button {
    background: transparent;
}

.w-menu {
    border-color: #ccc;
}

.w-menu .w-menu-button {
    cursor: pointer;
}

.w-menu-line {
    display: block;
}

.w-menu-button {

}

.w-menu-button.z-hv {
    background: #d5ecff;
}

.w-menu-button.z-on {
    background: #bce0ff;
}

/**↑按钮↑**/

/**↓tabs↓**/
.w-tabs {
}

.w-tabs .w-tabbar, .w-tabs.z-position-top .w-tabbar {
    padding: 0 10px;
}

.w-tabs .w-tabbar .w-tabbar-line, .w-tabs.z-position-top .w-tabbar .w-tabbar-line {
    display: block;
    height: 2px;
    background: #2498fd;
}

.w-tabs .w-tabbar .w-tab, .w-tabs.z-position-top .w-tabbar .w-tab {
    background: #eee;
    color: #333;
    font-weight: bold;
    margin-right: 8px;
    margin-top: 2px;
}

.w-tabs .w-tabbar .w-tab.z-on {
    background: #2498fd;
    color: #fff;
}

.w-tabs .w-tabbar .w-tab.z-hv {
    background: #1588d4;
    color: #fff;
}

.w-tabs.z-position-bottom .w-tabbar .w-tab {
    margin-top: 0;
    margin-bottom: 2px;
}

.w-tabs.z-position-bottom .w-tabbar .w-tabbar-line {
    top: 0;
}

.w-tabs.z-position-left .w-tabbar, .w-tabs.z-position-right .w-tabbar {
    padding: 10px 0;
}

.w-tabs.z-position-left .w-tabbar .w-tab {
    margin-top: 8px;
    margin-left: 2px;
    margin-right: 0;
}

.w-tabs.z-position-right .w-tabbar .w-tab {
    margin-top: 8px;
    margin-left: 0;
    margin-right: 2px;
}

.w-tabs.z-position-left .w-tabbar .w-tabbar-line {
    width: 2px;
    height: auto;
}

.w-tabs.z-position-right .w-tabbar .w-tabbar-line {
    width: 2px;
    height: auto;
}

/**↑tabs↑**/

/**↓表单↓**/
.w-input {
    border: 1px solid #ccc;
    border-radius: 0;
    color: #333;
}

.w-form.z-ds .w-input {
    background: #e6e6e6;
}

/**↑表单↑**/

/**↓对话框↓**/
.w-dialog {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(114, 182, 227, 0.7);
    border: 1px solid #90b5d5;
}

.w-dialog .dlg-frame {
    background-color: #fff;
}

.w-dialog .dlg-head {
    background-color: #009bdb;
}

.w-dialog .dlg-head .dlg-head-title {
    color: #fff;
    font-size: 14px;
    padding-left: 10px;
    line-height: 40px;
}

.w-dialog .dlg-head .w-buttonbar.dlg-head-oper .w-button {
    border-color: transparent;
}

.w-dialog .dlg-head .w-buttonbar.dlg-head-oper .w-button ._c {
    padding-left: 10px;
}

.w-dialog .dlg-head .w-buttonbar.dlg-head-oper .w-button ._i {
    padding-right: 10px;
}

.w-dialog .dlg-head .w-buttonbar.dlg-head-oper .w-button.z-hv {
    background-color: #1588d4;
}

.w-dialog .dlg-head .w-buttonbar.dlg-head-oper .w-button.dlg-oper-close.z-hv {
    background-color: #d00;
}

.w-dialog .dlg-head .w-buttonbar.dlg-head-oper .w-button.z-dn {
    background-color: #0e80cb;
}

.w-dialog .dlg-head .w-buttonbar.dlg-head-oper .w-button.dlg-oper-close.z-dn {
    background-color: #e81414;
}

.w-dialog .dlg-foot {
    background-color: #edf0f2;
}

.w-dialog .w-dialog-loadinghead {
    background: #009bdb
}

.w-dialog .w-dialog-loadinghead ._x {
    background: url(img/g.png) no-repeat -85px 4px
}

.w-dialog .w-dialog-loadinghead ._x.z-hv {
    background-color: red
}

.w-dialog.z-loading .w-dialog-loadinghead {
    display: block
}

/**↑对话框↑**/

/**↓图片↓**/
img {
    border: 0;
}

.w-img.x-lazy {
    border: 0;
}

.w-img.x-lazy.z-err .w-img-i img {
    display: none;
}

.w-img.x-lazy .w-img-i {
    background-repeat: no-repeat;
    background-position: center;
}

.w-img.x-lazy.x-size-xs .w-img-i {
    background-image: url("img/icon_default_20x20.png");
}

.w-img.x-lazy.x-size-s .w-img-i {
    background-image: url("img/icon_default_40x40.png");
}

.w-img.x-lazy.x-size-m .w-img-i, .w-img.x-lazy .w-img-i {
    background-image: url("img/icon_default_60x60.png");
}

.w-img.x-lazy.x-size-l .w-img-i {
    background-image: url("img/icon_default_80x80.png");
}

.w-img.x-lazy.x-size-xl .w-img-i {
    background-image: url("img/icon_default_100x100.png");
}

.w-img.x-lazy.x-size-xs.x-user .w-img-i {
    background-image: url("img/icon_user_20x20.png");
}

.w-img.x-lazy.x-size-s.x-user .w-img-i {
    background-image: url("img/icon_user_40x40.png");
}

.w-img.x-lazy.x-size-m.x-user .w-img-i, .w-img.x-lazy.x-user .w-img-i {
    background-image: url("img/icon_user_60x60.png");
}

.w-img.x-lazy.x-size-l.x-user .w-img-i {
    background-image: url("img/icon_user_80x80.png");
}

.w-img.x-lazy.x-size-xl.x-user .w-img-i {
    background-image: url("img/icon_user_100x100.png");
}

/*图片加载成功,不显示背景图*/
.w-img.x-lazy.z-success .w-img-i {
    background-image: none !important;
}

/**↑图片↑**/

/**↓图标↓**/
.i-file {
    background: url("img/file.png");
    width: 16px;
    height: 16px;
}

.i-folder {
    background: url("img/folder.png");
    width: 16px;
    height: 16px;
}

.i-dlg-close {
    background-image: url("img/g.png");
    background-position: -97px -7px;
    width: 16px;
    height: 16px;
}

.i-dlg-max {
    background: url("img/g.png") -127px -7px;
    width: 16px;
    height: 16px;
}

.w-dialog.z-max .i-dlg-max {
    background-position: -157px -7px;
}

.i-leaf {
    background: url("img/ico_16_16.png") -16px -32px;
    width: 16px;
    height: 16px;
}

.z-folder .i-leaf {
    background-position: 0 -64px;
}

.z-folder.z-open .i-leaf {
    background-position: -16px -64px;
}

.i-close {
    background: url("img/ico_16_16.png") 0 -96px;
    width: 16px;
    height: 16px;
}

.z-hv .i-close {
    background-position: -16px -96px;
}

.i-logo {
    background-image: url("img/logo.png");
    background-repeat: no-repeat;
    width: 130px;
    height: 30px;
}

.i-index-person {
    background: url("img/icon-16.png") 0 -60px;
    width: 16px;
    height: 16px;
}

.i-index-config {
    background: url("img/icon-16.png") 0 -120px;
    width: 16px;
    height: 16px;
}

.i-split {
    background: url("img/ico_split.png") 0 0;
    width: 10px;
    height: 30px;
    position: relative;
}

.i-split:hover {
    background: url("img/ico_split.png") 0 -30px;
    width: 10px;
    height: 30px;
}

.i-split-col {
    background: url("img/ico_split.png") -30px 0;
    width: 10px;
    height: 30px;
    position: relative;
}

.i-split-col:hover {
    background: url("img/ico_split.png") -30px -30px;
    width: 10px;
    height: 30px;
}

/**↓常用操作图标↓**/
.x-grid-oper i {
    cursor: pointer;
    display: inline-block;
    margin-left: 5px;
}

.x-grid-oper i:first-child {
    margin-left: 0;
}

.x-grid-oper i.z-ds {
    cursor: default;
}

/*编辑*/
.i-operation-edit {
    background: url("img/icon_operation_16.png") 0 0;
    width: 16px;
    height: 16px;
}

.i-operation-edit.z-hv, .z-hv .i-operation-edit {
    background: url("img/icon_operation_16.png") 0 -20px;
    width: 16px;
    height: 16px;
}

.i-operation-edit.z-dn, .z-dn .i-operation-edit {
    background: url("img/icon_operation_16.png") 0 -40px;
    width: 16px;
    height: 16px;
}

.i-operation-edit.z-ds, .z-ds .i-operation-edit {
    background: url("img/icon_operation_16.png") 0 -60px;
    width: 16px;
    height: 16px;
}

/*删除*/
.i-operation-del {
    background: url("img/icon_operation_16.png") -20px 0;
    width: 16px;
    height: 16px;
}

.i-operation-del.z-hv, .z-hv .i-operation-del {
    background: url("img/icon_operation_16.png") -20px -20px;
    width: 16px;
    height: 16px;
}

.i-operation-del.z-dn, .z-dn .i-operation-del {
    background: url("img/icon_operation_16.png") -20px -40px;
    width: 16px;
    height: 16px;
}

.i-operation-del.z-ds, .z-ds .i-operation-del {
    background: url("img/icon_operation_16.png") -20px -60px;
    width: 16px;
    height: 16px;
}

/*更多*/
.i-operation-more {
    background: url("img/icon_operation_16.png") -40px 0;
    width: 16px;
    height: 16px;
}

.i-operation-more.z-hv, .z-hv .i-operation-more {
    background: url("img/icon_operation_16.png") -40px -20px;
    width: 16px;
    height: 16px;
}

.i-operation-more.z-dn, .z-dn .i-operation-more {
    background: url("img/icon_operation_16.png") -40px -40px;
    width: 16px;
    height: 16px;
}

.i-operation-more.z-ds, .z-ds .i-operation-more {
    background: url("img/icon_operation_16.png") -40px -60px;
    width: 16px;
    height: 16px;
}

/*置顶*/
.i-operation-top {
    background: url("img/icon_operation_16.png") -60px 0;
    width: 16px;
    height: 16px;
}

.i-operation-top.z-hv, .z-hv .i-operation-top {
    background: url("img/icon_operation_16.png") -60px -20px;
    width: 16px;
    height: 16px;
}

.i-operation-top.z-dn, .z-dn .i-operation-top {
    background: url("img/icon_operation_16.png") -60px -40px;
    width: 16px;
    height: 16px;
}

.i-operation-top.z-ds, .z-ds .i-operation-top {
    background: url("img/icon_operation_16.png") -60px -60px;
    width: 16px;
    height: 16px;
}

/*置底*/
.i-operation-bottom {
    background: url("img/icon_operation_16.png") -80px 0;
    width: 16px;
    height: 16px;
}

.i-operation-bottom.z-hv, .z-hv .i-operation-bottom {
    background: url("img/icon_operation_16.png") -80px -20px;
    width: 16px;
    height: 16px;
}

.i-operation-bottom.z-dn, .z-dn .i-operation-bottom {
    background: url("img/icon_operation_16.png") -80px -40px;
    width: 16px;
    height: 16px;
}

.i-operation-bottom.z-ds, .z-ds .i-operation-bottom {
    background: url("img/icon_operation_16.png") -80px -60px;
    width: 16px;
    height: 16px;
}

/*上移*/
.i-operation-up {
    background: url("img/icon_operation_16.png") -100px 0;
    width: 16px;
    height: 16px;
}

.i-operation-up.z-hv, .z-hv .i-operation-up {
    background: url("img/icon_operation_16.png") -100px -20px;
    width: 16px;
    height: 16px;
}

.i-operation-up.z-dn, .z-dn .i-operation-up {
    background: url("img/icon_operation_16.png") -100px -40px;
    width: 16px;
    height: 16px;
}

.i-operation-up.z-ds, .z-ds .i-operation-up {
    background: url("img/icon_operation_16.png") -100px -60px;
    width: 16px;
    height: 16px;
}

/*下移*/
.i-operation-down {
    background: url("img/icon_operation_16.png") -120px 0;
    width: 16px;
    height: 16px;
}

.i-operation-down.z-hv, .z-hv .i-operation-down {
    background: url("img/icon_operation_16.png") -120px -20px;
    width: 16px;
    height: 16px;
}

.i-operation-down.z-dn, .z-dn .i-operation-down {
    background: url("img/icon_operation_16.png") -120px -40px;
    width: 16px;
    height: 16px;
}

.i-operation-down.z-ds, .z-ds .i-operation-down {
    background: url("img/icon_operation_16.png") -120px -60px;
    width: 16px;
    height: 16px;
}

/*回退*/
.i-operation-back {
    background: url("img/icon_operation_16.png") -140px 0;
    width: 16px;
    height: 16px;
}

.i-operation-back.z-hv, .z-hv .i-operation-back {
    background: url("img/icon_operation_16.png") -140px -20px;
    width: 16px;
    height: 16px;
}

.i-operation-back.z-dn, .z-dn .i-operation-back {
    background: url("img/icon_operation_16.png") -140px -40px;
    width: 16px;
    height: 16px;
}

.i-operation-back.z-ds, .z-ds .i-operation-back {
    background: url("img/icon_operation_16.png") -140px -60px;
    width: 16px;
    height: 16px;
}

/*查询*/
.i-operation-search {
    background: url("img/icon_operation_16.png") -160px 0;
    width: 16px;
    height: 16px;
}

.i-operation-search.z-hv, .z-hv .i-operation-search {
    background: url("img/icon_operation_16.png") -160px -20px;
    width: 16px;
    height: 16px;
}

.i-operation-search.z-dn, .z-dn .i-operation-search {
    background: url("img/icon_operation_16.png") -160px -40px;
    width: 16px;
    height: 16px;
}

.i-operation-search.z-ds, .z-ds .i-operation-search {
    background: url("img/icon_operation_16.png") -160px -60px;
    width: 16px;
    height: 16px;
}

/*费用*/
.i-operation-money {
    background: url("img/icon_operation_16.png") -180px 0;
    width: 16px;
    height: 16px;
}

.i-operation-money.z-hv, .z-hv .i-operation-money {
    background: url("img/icon_operation_16.png") -180px -20px;
    width: 16px;
    height: 16px;
}

.i-operation-money.z-dn, .z-dn .i-operation-money {
    background: url("img/icon_operation_16.png") -180px -40px;
    width: 16px;
    height: 16px;
}

.i-operation-money.z-ds, .z-ds .i-operation-money {
    background: url("img/icon_operation_16.png") -180px -60px;
    width: 16px;
    height: 16px;
}

/*收藏*/
.i-operation-favorite {
    background: url("img/icon_operation_16.png") -200px 0;
    width: 16px;
    height: 16px;
}

.i-operation-favorite.z-hv, .z-hv .i-operation-favorite {
    background: url("img/icon_operation_16.png") -200px -20px;
    width: 16px;
    height: 16px;
}

.i-operation-favorite.z-dn, .z-dn .i-operation-favorite {
    background: url("img/icon_operation_16.png") -200px -40px;
    width: 16px;
    height: 16px;
}

.i-operation-favorite.z-ds, .z-ds .i-operation-favorite {
    background: url("img/icon_operation_16.png") -200px -60px;
    width: 16px;
    height: 16px;
}

/*设置*/
.i-operation-setup {
    background: url("img/icon_operation_16.png") -220px 0;
    width: 16px;
    height: 16px;
}

.i-operation-setup.z-hv, .z-hv .i-operation-setup {
    background: url("img/icon_operation_16.png") -220px -20px;
    width: 16px;
    height: 16px;
}

.i-operation-setup.z-dn, .z-dn .i-operation-setup {
    background: url("img/icon_operation_16.png") -220px -40px;
    width: 16px;
    height: 16px;
}

.i-operation-setup.z-ds, .z-ds .i-operation-setup {
    background: url("img/icon_operation_16.png") -220px -60px;
    width: 16px;
    height: 16px;
}

/*历史*/
.i-operation-history {
    background: url("img/icon_operation_16.png") -240px 0;
    width: 16px;
    height: 16px;
}

.i-operation-history.z-hv, .z-hv .i-operation-history {
    background: url("img/icon_operation_16.png") -240px -20px;
    width: 16px;
    height: 16px;
}

.i-operation-history.z-dn, .z-dn .i-operation-history {
    background: url("img/icon_operation_16.png") -240px -40px;
    width: 16px;
    height: 16px;
}

.i-operation-history.z-ds, .z-ds .i-operation-history {
    background: url("img/icon_operation_16.png") -240px -60px;
    width: 16px;
    height: 16px;
}

/*提示*/
.i-operation-tip {
    background: url("img/icon_operation_16.png") -260px 0;
    width: 16px;
    height: 16px;
}

.i-operation-tip.z-hv, .z-hv .i-operation-tip {
    background: url("img/icon_operation_16.png") -260px -20px;
    width: 16px;
    height: 16px;
}

.i-operation-tip.z-dn, .z-dn .i-operation-tip {
    background: url("img/icon_operation_16.png") -260px -40px;
    width: 16px;
    height: 16px;
}

.i-operation-tip.z-ds, .z-ds .i-operation-tip {
    background: url("img/icon_operation_16.png") -260px -60px;
    width: 16px;
    height: 16px;
}

/*刷新*/
.i-operation-refresh {
    background: url("img/icon_operation_16.png") -320px 0;
    width: 16px;
    height: 16px;
}

.i-operation-refresh.z-hv, .z-hv .i-operation-refresh {
    background: url("img/icon_operation_16.png") -320px -20px;
    width: 16px;
    height: 16px;
}

.i-operation-refresh.z-dn, .z-dn .i-operation-refresh {
    background: url("img/icon_operation_16.png") -320px -40px;
    width: 16px;
    height: 16px;
}

.i-operation-refresh.z-ds, .z-ds .i-operation-refresh {
    background: url("img/icon_operation_16.png") -320px -60px;
    width: 16px;
    height: 16px;
}

/*二维码*/
.i-operation-qrcode {
    background: url("img/icon_operation_16.png") -340px 0;
    width: 16px;
    height: 16px;
}

.i-operation-qrcode.z-hv, .z-hv .i-operation-qrcode {
    background: url("img/icon_operation_16.png") -340px -20px;
    width: 16px;
    height: 16px;
}

.i-operation-qrcode.z-dn, .z-dn .i-operation-qrcode {
    background: url("img/icon_operation_16.png") -340px -40px;
    width: 16px;
    height: 16px;
}

.i-operation-qrcode.z-ds, .z-ds .i-operation-qrcode {
    background: url("img/icon_operation_16.png") -340px -60px;
    width: 16px;
    height: 16px;
}

/*签到*/
.i-operation-sign {
    background: url("img/icon_operation_16.png") 0 -80px;
    width: 16px;
    height: 16px;
}

.i-operation-sign.z-hv, .z-hv .i-operation-sign {
    background: url("img/icon_operation_16.png") 0 -100px;
    width: 16px;
    height: 16px;
}

.i-operation-sign.z-dn, .z-dn .i-operation-sign {
    background: url("img/icon_operation_16.png") 0 -120px;
    width: 16px;
    height: 16px;
}

.i-operation-sign.z-ds, .z-ds .i-operation-sign {
    background: url("img/icon_operation_16.png") 0 -140px;
    width: 16px;
    height: 16px;
}

/*查看*/
.i-operation-view {
    background: url("img/icon_operation_16.png") -60px -80px;
    width: 16px;
    height: 16px;
}

.i-operation-view.z-hv, .z-hv .i-operation-view {
    background: url("img/icon_operation_16.png") -60px -100px;
    width: 16px;
    height: 16px;
}

.i-operation-view.z-dn, .z-dn .i-operation-view {
    background: url("img/icon_operation_16.png") -60px -120px;
    width: 16px;
    height: 16px;
}

.i-operation-view.z-ds, .z-ds .i-operation-view {
    background: url("img/icon_operation_16.png") -60px -140px;
    width: 16px;
    height: 16px;
}

/*同意*/
.i-operation-pass {
    background: url("img/icon_operation_16.png") -80px -80px;
    width: 16px;
    height: 16px;
}

.i-operation-pass.z-hv, .z-hv .i-operation-pass {
    background: url("img/icon_operation_16.png") -80px -100px;
    width: 16px;
    height: 16px;
}

.i-operation-pass.z-dn, .z-dn .i-operation-pass {
    background: url("img/icon_operation_16.png") -80px -120px;
    width: 16px;
    height: 16px;
}

.i-operation-pass.z-ds, .z-ds .i-operation-pass {
    background: url("img/icon_operation_16.png") -80px -140px;
    width: 16px;
    height: 16px;
}

/*驳回*/
.i-operation-reject {
    background: url("img/icon_operation_16.png") -100px -80px;
    width: 16px;
    height: 16px;
}

.i-operation-reject.z-hv, .z-hv .i-operation-reject {
    background: url("img/icon_operation_16.png") -100px -100px;
    width: 16px;
    height: 16px;
}

.i-operation-reject.z-dn, .z-dn .i-operation-reject {
    background: url("img/icon_operation_16.png") -100px -120px;
    width: 16px;
    height: 16px;
}

.i-operation-reject.z-ds, .z-ds .i-operation-reject {
    background: url("img/icon_operation_16.png") -100px -140px;
    width: 16px;
    height: 16px;
}

/*取消*/
.i-operation-cancel {
    background: url("img/icon_operation_16.png") -120px -80px;
    width: 16px;
    height: 16px;
}

.i-operation-cancel.z-hv, .z-hv .i-operation-cancel {
    background: url("img/icon_operation_16.png") -120px -100px;
    width: 16px;
    height: 16px;
}

.i-operation-cancel.z-dn, .z-dn .i-operation-cancel {
    background: url("img/icon_operation_16.png") -120px -120px;
    width: 16px;
    height: 16px;
}

.i-operation-cancel.z-ds, .z-ds .i-operation-cancel {
    background: url("img/icon_operation_16.png") -120px -140px;
    width: 16px;
    height: 16px;
}

/**↑常用操作图标↑**/
.i-toggle-icon {
    background: url("img/btn-icon.png") -27px -266px;
    width: 16px;
    height: 16px;
}

.i-toggle-expanded {
    background: url("img/btn-icon.png") -27px -247px;
    width: 16px;
    height: 16px;
}

.i-user {
    background-image: url("img/icon_user.png");
    width: 60px;
    height: 60px;
}

.i-user.x-size-xs {
    background-image: url("img/icon_user_20x20.png");
    width: 20px;
    height: 20px;
}

.i-user.x-size-s {
    background-image: url("img/icon_user_40x40.png");
    width: 40px;
    height: 40px;
}

.i-user.x-size-m {
    background-image: url("img/icon_user_60x60.png");
    width: 60px;
    height: 60px;
}

.i-user.x-size-l {
    background-image: url("img/icon_user_80x80.png");
    width: 80px;
    height: 80px;
}

.i-user.x-size-xl {
    background-image: url("img/icon_user_100x100.png");
    width: 100px;
    height: 100px;
}

/**↑图标↑**/

/**↓进度条↓**/
.w-progress .w-progress-item.z-0 ._up {
    background-color: #fff000;
}

.w-progress .w-progress-item.z-25 ._up {
    background-color: #ffb527;
}

.w-progress .w-progress-item.z-50 ._up {
    background-color: #fc942d;
}

.w-progress .w-progress-item.z-75 ._up {
    background-color: #72b636;
}

/**↑进度条↑**/
