.bg-body {
	background:#5CA0DF;
}
.db-white {
	background:#fff;
}

.w-buttonbar .w-button.login-btn {
	background-color: #2498fd;
	color: #fff;
}

.w-buttonbar .w-button.login-btn.z-hv, .w-buttonbar .w-button.login-btn.z-dn {
	background-color: #1e92df;
}

/*后台登录页底部样式*/
.index-footer {
    font-size: 14px;
    font-family: "Microsoft Yahei", Arial;
    color: #333;
}
.i-login-user {
 	background: url("./img/icon.png") 0 0;
	width: 16px;
	height: 16px;
}
.z-on .i-login-user, .z-err .i-login-user {
	background-position-x: -40px;
}
.i-login-pwd {
	background: url("./img/icon.png") 0 -50px;
	width: 16px;
	height: 16px;
}
.z-on .i-login-pwd, .z-err .i-login-pwd {
	background-position-x: -40px;
}
.i-login-code {
	background: url("./img/icon.png") 0 -100px;
	width: 16px;
	height: 16px;
}
.z-on .i-login-code {
	background-position-x: -40px;
}
.i-login-refresh {
	background: url("./img/icon.png") 0 -200px;
	width: 16px;
	height: 16px;
}
.z-on .i-login-refresh {
	background-position-x: -40px;
}

.x-login-input .w-input {
	border-top-color: transparent;
	border-right-color: transparent;
	border-left-color: transparent;
	/*margin-top: 40px;*/
	/*padding-left: 20px;*/
	font-size: 16px;
}

.x-login-input .w-input ._t, .x-login-input .w-input .w-input-placeholder {
	text-indent: 25px;
}

.x-login-input.z-on .w-input {
	border-top-color: transparent;
	border-right-color: transparent;
	border-left-color: transparent;
	border-bottom-color: #2498FD;
}

.x-login-input.z-err .w-input {
	border-color: #e52929;
}

.x-login-input-icon {
	position: absolute;
	left: 6px;
	bottom: 10px;
}

