/*!
 *  dfish css
 *	@version	3.0
 *	@author		cmy
 */

.f-12{font-size:12px!important}
.f-14{font-size:14px!important}
.f-16{font-size:16px!important}
.f-18{font-size:18px!important}
.f-20{font-size:20px!important}
.f-22{font-size:22px!important}
.f-24{font-size:24px!important}

.f-clearfix{zoom:1}
.f-clearfix:after{content:" ";height:0;visibility:hidden;display:block;clear:both}

.f-scroll-wrap{position:relative;overflow:hidden}
.f-scroll-tank{width:100%;height:100%;overflow:hidden;*position:relative}
.f-scroll-overflow{position:relative;overflow:scroll}
.f-scroll-overflow::-webkit-scrollbar{width:0;height:0}
.f-scroll-y{position:absolute;top:0;bottom:0;right:1px;display:none;visibility:hidden;border-radius:4px;z-index:1}
.f-scroll-y-track{position:relative;height:100%;width:8px;top:0;background:#b2bdc8;border-radius:5px;opacity:.9}
.f-scroll-wrap:hover > .f-scroll-y,.f-css2 .f-scroll-wrap:hover .f-scroll-y{visibility:visible}
.f-scroll-y:hover .f-scroll-y-track{background:#99a8b8;opacity:.85}
.f-scroll-x{position:absolute;left:0;right:0;bottom:1px;display:none;visibility:hidden;border-radius:4px;z-index:1}
.f-scroll-x-track{position:relative;width:100%;height:7px;left:0;background:#b2bdc8;border-radius:4px;opacity:.9}
.f-scroll-wrap:hover > .f-scroll-x,.f-css2 .f-scroll-wrap:hover .f-scroll-x{visibility:visible}
.f-scroll-x:hover .f-scroll-x-track{background:#99a8b8;opacity:.85}
.f-scroll-wrap.z-ovis{overflow:visible}

.f-bl{display:block;}
.f-inbl{display:inline-block;*display:inline;*zoom:1}
.f-left{float:left}
.f-right{float:right}
.f-clear{clear:both}
.f-none{display:none!important}
.f-css2 .f-none *{display:none}
.f-abs{position:absolute}
.f-rel{position:relative}
.f-sub-horz{display:inline-block;*display:inline;*zoom:1}
.f-sub-horz.z-htmn{float:left;*display:normal}
.f-sub-horz,.f-sub-vert{vertical-align:top}
.f-sub-horz{white-space:normal;*white-space:nowrap}

.f-sub-frame,.f-hide{visibility:hidden;position:absolute;z-index:-1;left:-100%} 
.f-sub-frame-on,.f-dot{}

.f-required{color:red;font-family:tahoma;font-style:normal;margin-right:6px;vertical-align:middle}
.f-keyword{color:red;font-style:normal}

.f-nobr,.f-omit,.f-fix{white-space:nowrap;word-break:keep-all;word-wrap:normal}
.f-omit,.f-fix{overflow:hidden;text-overflow:ellipsis}
.f-abshide{position:absolute;width:1px;height:1px;top:-1px;left:-1px;overflow:hidden}
.f-wdbr{white-space:normal;word-break:break-all;word-wrap:break-word}
.f-unsel{-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;-o-user-select:none;user-select:none;}
.f-remark{position:absolute;left:100%;top:-1px;padding:0 6px;line-height:30px;white-space:nowrap;word-break:keep-all;word-wrap:normal;}

.f-vi,.f-vi-middle{display:inline-block;height:100%;vertical-align:middle}
.f-vi-top{display:inline-block;height:100%;vertical-align:top}
.f-vi-bottom{display:inline-block;height:100%;vertical-align:bottom}
.f-va,.f-va-middle{vertical-align:middle}
.f-va-top{vertical-align:top}
.f-va-bottom{vertical-align:bottom}

.f-resize-sensor{position:absolute;left:0px;top:0px;right:0px;bottom:0px;z-index:-1;visibility:hidden;*display:none}
.f-resize-sensor-expand{position:absolute;left:0;top:0;right:0;bottom:0;overflow:scroll;border:1px solid green;}
.f-resize-sensor-expand-core{position:absolute;left:0;top:0;padding:10px}
.f-resize-sensor-shrink{position:absolute;left:0;top:0;right:0;bottom:0;overflow:scroll;border:1px solid green;}
.f-resize-sensor-shrink-core{position:absolute;left:0;top:0;width:200%;height:200%}

/* arrow */
.f-arw{display:inline-block;border:4px solid transparent;vertical-align:middle;*line-height:0;*font-size:0;*overflow:hidden}
.f-arw-b1,.f-arw-t1{border-width:5px 4px}
.f-arw-r1,.f-arw-l1{border-width:4px 5px}
.f-arw-b2,.f-arw-r2,.f-arw-t2,.f-arw-l2{border-width:5px}
.f-arw-b3,.f-arw-r3,.f-arw-t3,.f-arw-l3{border-width:6px}
.f-arw-b4,.f-arw-t4{border-width:8px 7px}
.f-arw-r4,.f-arw-l4{border-width:7px 8px}
.f-arw-b5,.f-arw-t5{border-width:9px 8px}
.f-arw-r5,.f-arw-l5{border-width:8px 9px}
.f-arw-b1,.f-arw-b2,.f-arw-b3,.f-arw-b4,.f-arw-b5{border-bottom:0;border-top-color:#666;}
.f-arw-r1,.f-arw-r2,.f-arw-r3,.f-arw-r4,.f-arw-r5{border-right:0;border-left-color:#666;margin:0 2px}
.f-arw-t1,.f-arw-t2,.f-arw-t3,.f-arw-t4,.f-arw-t5{border-top:0;border-bottom-color:#666;}
.f-arw-l1,.f-arw-l2,.f-arw-l3,.f-arw-l4,.f-arw-l5{border-left:0;border-right-color:#666;margin:0 2px}


.f-notop{border-top-width:0!important}
.f-noright{border-right-width:0!important}
.f-nobottom{border-bottom-width:0!important}
.f-noleft{border-left-width:0!important}
.f-onlytop{border-width:1px 0 0 0!important}
.f-onlyright{border-width:0 1px 0 0!important}
.f-onlybottom{border-width:0 0 1px 0!important}
.f-onlyleft{border-width:0 0 0 1px!important}

.f-white{background:#fff}

.f-shadow{box-shadow:0 0 6px #ccc;-webkit-box-shadow:0 0 8px #bbb}
.f-shadow-bottom{box-shadow:0 4px 4px -2px #eee}
.f-shadow-snap.z-mag-b{box-shadow:0 1px 4px #ddd}
.f-shadow-snap.z-mag-t{box-shadow:0 -1px 4px #ddd}

.f-dialog-preview{background:#333}
.f-dialog-preview ._dlg_x{position:absolute;top:-18px;right:-18px;width:36px;height:36px;background:url(g/i.png) no-repeat 0 -187px;cursor:pointer}
.f-dialog-preview ._dlg_x:hover{background-position:0 -228px}

.w-view-loading{width:100%;height:100%;text-align:center}
.w-view-loading ._c{display:inline-block;padding:5px 15px;margin:5px;border:1px solid #ddd;background:#fcfcfc}
.w-loading{padding:10px 15px;border:1px solid #ddd;background:#fcfcfc;text-align:center}
.w-loading ._t,.w-view-loading ._t{vertical-align:middle;font-style:normal}
.w-templateview{position:relative}

.w-progress-table{width:100%;border-width:0;text-align:left;table-layout:auto}
.w-progress-table ._bar,.w-progress-table ._cur{height:5px;background:#ddd;border-radius:3px;overflow:hidden}
.w-progress-table ._cur{background:#018beb;height:100}
.w-progress-table ._num{color:#999}
.w-loading .w-progress-table{min-height:50px}

.w-vert,.w-horz,.f-oh{overflow:hidden}
.w-vert.z-autosize,.w-horz.z-autosize{overflow:visible}
.w-horz{white-space:nowrap}
.w-horz.z-br{white-space:normal}

.w-frame{position:relative;overflow:hidden}

/* grid */
.w-grid{text-align:left;overflow:hidden}
.f-scroll-overflow .w-grid{overflow:visible}
.w-grid.z-auto .w-grid-table{width:auto}
.w-grid-table ._ie_thead{*display:none}
.w-grid-table ._ie_thead td{padding-top:0;padding-bottom:0}
.w-grid-table{table-layout:fixed;word-wrap:break-word;word-break:break-all;-webkit-text-size-adjust:100%;width:100%}
/*.w-tr.z-hv{background:#f0f8ff}
.w-tr.z-on{background:#cde6fe}*/
.w-td-line{border-bottom:1px solid #e9e9e9}
.w-td-dot{border-bottom:1px dashed #e3e3e3}
.w-td-cell{border-bottom:1px solid #e9e9e9;border-right:1px solid #e9e9e9}
.w-td-cell.z-last{border-right:0}
.w-grid-head{overflow:hidden}
.w-grid-head td{position:relative}
.w-th{position:relative}
.w-th-rsz{position:absolute;width:4px;top:0;right:-2px;cursor:col-resize}
.w-th.z-last .w-th-rsz{right:0}
.w-th-sort{cursor:pointer}
.w-th-sort .f-i{margin-left:5px}
.w-th-sort .f-arw{margin-left:5px;margin-top:-1px;}
.w-th-sort .f-arw-b1{border-top-color:#888;border-bottom:0}
.w-th-sort .f-arw-t1{border-bottom-color:#888;border-top:0}
.w-grid-thead{position:relative;line-height:1}
.w-grid-thead .w-grid-table{height:100%}
.w-grid-thead:hover .w-th-rsz{border-left:1px solid #ddd}
.w-grid-thead:hover .w-grid-face-cell .w-th-rsz{border-left:0}

/* tree */
.w-tree{text-align:left;overflow:hidden}
.w-tree-gut{padding-top:5px}
.w-leaf{margin:0;padding:0;height:30px;cursor:default}
.w-leaf.z-hv,.w-leaf.z-hv .w-leaf-t{background:#d5ecff}
.w-leaf.z-on,.w-leaf.z-on .w-leaf-t{background:#bce0ff}
.w-leaf-a{height:100%;text-decoration:none}
.w-leaf-b.w-checkbox,.w-leaf-b.w-triplebox{padding-left:2px;padding-right:3px;text-align:center;line-height:0}
.w-leaf-o{position:relative;visibility:hidden;display:inline-block;height:100%;width:14px;text-align:center;color:#9e9e9e;vertical-align:middle;}
.w-leaf-o:hover .f-arw-r1{border-left-color:#1cc4f7}
.w-leaf-o:hover .f-arw-b1{border-top-color:#1cc4f7}
.w-leaf-i{position:relative;display:inline-block;height:100%;min-width:20px;margin-right:3px;text-align:center;vertical-align:middle;*width:20px}
.w-leaf.z-loading .w-leaf-i ._ico{opacity:.5}
.w-leaf.z-ds{color:#999}
.w-leaf.z-notg .w-leaf-o .f-arw{display:none}
.w-leaf.z-folder .w-leaf-o{visibility:visible}
.w-leaf ._ld{position:absolute;left:0;width:100%;height:100%;background:url(g/loading-cir.gif) no-repeat 50% 50%}
.w-leaf-t{height:100%;font-style:normal;vertical-align:middle}
.w-leaf.f-nobr .w-leaf-t,.w-leaf.f-nobr .w-leaf-s{display:inline-block;vertical-align:middle}
.w-leaf.f-omit .w-leaf-a{display:inline}
.w-leaf-o .f-arw,.w-leaf .w-form{font-style:normal}
.w-leaf-node{display:inline-block;vertical-align:middle;height:100%;*display:inline;*zoom:1}

.w-leaf.w-grid-leaf{height:auto}

.w-html{overflow:hidden}
.w-html.z-autosize{overflow:visible}

.w-fieldset{margin:0;padding:0;border:1px solid #ccc;border-radius:2px;*display:block;}

.w-dialog{position:absolute;z-index:2}
.w-dialog-cover{position:absolute;background:#333;top:0;left:0;right:0;bottom:0;z-index:2;opacity:.2;filter:Alpha(opacity=20)}
.w-dialog-move{position:fixed;background:#fff;top:0;left:0;right:0;bottom:0;z-index:1;opacity:0;filter:Alpha(opacity=0)}
.w-dialog-prong{position:absolute}
.w-dialog-prong .f-arw{position:absolute;margin:0}
.w-dialog-prong.z-b{width:9px;height:8px;left:50%;margin-left:-9px;bottom:-8px;}
.w-dialog-prong.z-b ._in{top:0;left:1px;border-top-color:#fff}
.w-dialog-prong.z-b ._out{top:0;left:0;border-top-color:#d5d5d5}
.w-dialog-prong.z-t{width:9px;height:8px;left:50%;margin-left:-9px;top:-8px;}
.w-dialog-prong.z-t ._in{bottom:0;left:1px;border-bottom-color:#fff}
.w-dialog-prong.z-t ._out{bottom:0;left:0;border-bottom-color:#d5d5d5}
.w-dialog-prong.z-l{width:8px;height:9px;top:50%;margin-top:-9px;left:-8px;}
.w-dialog-prong.z-l ._in{right:0;top:1px;border-right-color:#fff}
.w-dialog-prong.z-l ._out{right:0;top:0;border-right-color:#d5d5d5}
.w-dialog-prong.z-r{width:8px;height:9px;top:50%;margin-top:-9px;right:-8px;}
.w-dialog-prong.z-r ._in{left:0;top:1px;border-left-color:#fff}
.w-dialog-prong.z-r ._out{left:0;top:0;border-left-color:#d5d5d5}
.w-dialog-rsz{position:absolute}
.w-dialog-rsz.z-n{height:4px;left:0;right:0;top:0;cursor:n-resize}
.w-dialog-rsz.z-s{height:4px;left:0;right:0;bottom:0;cursor:s-resize}
.w-dialog-rsz.z-w{width:4px;top:0;bottom:0;left:0;cursor:w-resize}
.w-dialog-rsz.z-e{width:4px;top:0;bottom:0;right:0;cursor:e-resize}
.w-dialog-rsz.z-nw{width:7px;height:7px;left:0;top:0;cursor:nw-resize}
.w-dialog-rsz.z-ne{width:7px;height:7px;right:0;top:0;cursor:ne-resize}
.w-dialog-rsz.z-se{width:7px;height:7px;right:0;bottom:0;cursor:se-resize}
.w-dialog-rsz.z-sw{width:7px;height:7px;left:0;bottom:0;cursor:sw-resize}
.w-dialog.z-max .w-dialog-rsz{display:none}
.w-dialog.z-closing:after{content:"";position:absolute;top:0;bottom:0;left:0;right:0;z-index:2;background:#000;opacity:0;}

.w-alert{z-index:3}

.w-toggle{position:relative;cursor:pointer}
.w-toggle-hr{margin:2px 0;border:1px solid #ccc;border-width:1px 0 0 0;height:0;overflow:hidden}
.w-toggle-table{width:100%;height:100%;*height:auto}
.w-toggle-table .w-leaf,.w-toggle-table .w-leaf ._a{padding-right:3px}
.w-toggle-table.z-hr .w-toggle-text{padding-right:6px;white-space:nowrap;word-break:keep-all}
.w-toggle-text{padding-left:5px;}
.w-toggle-text em{vertical-align:middle;font-style:normal}
.w-toggle-icon{line-height:0}

.w-split ._prev,.w-split ._next{cursor:pointer}
.w-split ._ico{position:relative;z-index:1}
.w-split.z-0.f-sub-horz ._next{position:relative;top:0;left:-100%}

/* calendar */
.w-calendar-dialog{border:1px solid #3298fe;background:#fff;}
.w-calendar-head{position:relative;height:24px;line-height:24px;padding:5px 0;margin:0 10px 5px 10px;border-bottom:1px solid #ddd}
.w-calendar-head ._circle{text-indent:-3px;overflow:hidden}
.w-calendar-head ._circle i{font-size:34px;line-height:21px}
.w-calendar-head ._iptm{width:0;height:0;visibility: hidden;}
.w-calendar-head .f-arw-l5{margin-right:20px;vertical-align:middle;cursor:pointer}
.w-calendar-head .f-arw-r5{margin-left:20px;vertical-align:middle;cursor:pointer}
.w-calendar-head .f-arw-l2{margin-right:15px;margin-top:-1px;vertical-align:middle;cursor:pointer}
.w-calendar-head .f-arw-r2{margin-left:15px;margin-top:-1px;vertical-align:middle;cursor:pointer}
.w-calendar-tbl{border-collapse:collapse}
.w-calendar ._a,.w-calendar-tbl thead td{text-align:center;cursor:default;padding:5px 0}
.w-calendar ._a.z-hv{background:#def0fc}
.w-calendar ._a.z-on{background:#cce7f9}
.w-calendar ._a.z-ds{color:#999}
.w-calendar ._t,.w-calendar ._y,.w-calendar ._m{height:24px;vertical-align:middle;cursor:pointer}
.w-calendar ._m{display:inline-block;min-width:32px;text-align:center}
.w-calendar ._t:hover,.w-calendar ._y:hover,.w-calendar ._m:hover{text-decoration:underline}
.w-calendar ._t{position:absolute;top:5px;right:5px}
.w-calendar-select{background:#f5f5f5;text-align:center;cursor:default;border:1px solid #ccc}
.w-calendar-select ._b{height:18px;line-height:18px}
.w-calendar-select ._b:hover{background:#d5d5d5}
.w-calendar-select ._b.z-ds{color:gray}
.w-calendar-select ._b.z-ds:hover{background:transparent}
.w-calendar-select ._wr{height:180px;overflow:hidden}
.w-calendar-select ._c{font-weight:bold}
.w-calendar-month ._a,.w-calendar-year ._a{padding:10px}


/* form */
.w-form{margin:0;padding:0;}
.w-form input,.w-form textarea{border:0;margin:0;padding:0;background:transparent;outline:none}
.f-css2 .w-form input,.f-css2 .w-form textarea{background:url(g/space.gif)}
.w-form textarea{vertical-align:middle}

.w-input,.w-input-border{border:1px solid #99a8b8;background:#fff}
.w-input{position:relative;height:28px;border-radius:2px;text-align:left;/*box-shadow:inset 0px 2px 0px #f7f7f7;*/}
.w-input ._t{height:100%;line-height:28px;padding-left:5px;*height:28px}
.w-input.z-on,.w-input-border.z-on{border-color:#3298fe;box-shadow:none}
.w-input.z-ds{background:#f1f1f1;box-shadow:none}
.w-input.z-ds ._t{color:#999}
.w-input.z-err,.w-input-border.z-err{border-color:red;box-shadow:inset 0 0 2px #fbb}
.w-input.z-trans,.w-input.z-trans.z-err,.w-input-border.z-trans,.w-input-border.z-trans.z-err{border-width:0;border-radius:0;box-shadow:none}

.w-input-placeholder{position:absolute;height:100%;text-indent:5px;color:#a9a9a9;cursor:text}

/*.w-text ._t,.w-password ._t,.w-date ._t,.w-muldate ._t,.w-spinner ._t,.w-xbox ._t,.w-combobox ._t,.w-onlinebox ._t,.w-pickbox ._t{height:100%;*height:28px;*line-height:28px}*/
.w-text.z-clear input._t::-ms-clear,.w-password.z-clear input._t::-ms-reveal{display:none}

.w-textarea textarea._t{height:100%;line-height:1.5;overflow:auto;*position:absolute;*top:0;*left:0;*right:0;*bottom:0}
.w-textarea .w-input-placeholder{height:22px}

.w-select{display:inline-block}
.w-select select{padding:0;height:100%;border:0}
.w-select.w-select-multiple{height:auto}
.w-select.z-ds select{background:#eee}
.w-select ._cvr{display:none}
.w-select.z-ds ._cvr{display:block;position:absolute;top:0;bottom:0;left:0;right:0;background:#fff;opacity:0;filter:Alpha(opacity:0)}

.w-checkboxgroup,.w-radiogroup{border:1px solid transparent;padding:1px 0}
.w-checkboxgroup-align{vertical-align:middle}
.w-checkboxgroup .w-checkbox,.w-radiogroup .w-radio{padding-right:6px}
.w-checkbox,.w-radio,.w-triplebox{padding:2px 0;border:1px solid transparent;border-left:0;font-style:normal}
.w-checkbox input,.w-radio input,.w-triplebox input{padding:0;vertical-align:middle}
.w-checkbox ._tit,.w-radio ._tit,.w-triplebox ._tit{padding:0 3px;vertical-align:middle;cursor:default}
/*.w-checkboxgroup.z-err .w-checkbox,.w-radiogroup.z-err .w-radio{position:relative;border-bottom-color:red}
.w-checkboxgroup.z-err .w-checkbox:after,.w-radiogroup.z-err .w-radio:after{position:absolute;content:"";bottom:1px;left:0;right:0;border-bottom:1px dashed red}*/
.w-checkboxgroup.z-err,.w-radiogroup.z-err{border-color:red}

.w-date ._b,.w-muldate ._b{display:inline-block;width:19px;text-align:center;color:#666;cursor:default}
.w-date ._b:hover,.w-muldate ._b:hover{color:#333}
.w-date .f-boxbtn,.w-muldate .f-boxbtn{background:url(g/n.png) no-repeat 0 50%}
.w-date .f-boxbtn:hover,.w-muldate .f-boxbtn:hover{background-position:-25px 50%}
.w-date.z-ds .f-boxbtn,.w-muldate.z-ds .f-boxbtn{background-position:0 50%;cursor:default}

.w-range{overflow:visible}
.w-range .f-sub-horz{vertical-align:middle;}
.w-range .f-sub-horz.z-htmn{float:none;}

.w-spinner{line-height:0}
.w-spinner ._t{vertical-align:middle}
.w-spinner ._b{display:inline-block;width:19px;height:100%;text-align:center;vertical-align:middle}
.w-spinner ._b em{display:block;height:50%;text-align:center;vertical-align:middle;cursor:pointer}
.w-spinner .f-arw-t2{border-bottom-color:#99a8b8;position:relative;top:1px;*top:-2px}
.w-spinner ._b em:hover .f-arw-t2{border-bottom-color:#6e8094}
.w-spinner .f-arw-b2{border-top-color:#99a8b8;position:relative;top:-1px;*top:0}
.w-spinner ._b em:hover .f-arw-b2{border-top-color:#6e8094}

.w-slider{position:relative;height:30px;}
.w-slider ._bar{position:relative;height:6px;margin:2px 0;background:#f2f2f2;border-radius:6px;box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);}
.w-slider ._track{position:absolute;height:6px;background:#999;border-radius:6px;}
.w-slider ._thumb{position:absolute;width:10px;height:10px;top:-2px;background:#777;border-radius:10px}

.w-rate ._i{display:inline-block;width:20px;height:20px;background:url(g/n.png) no-repeat -169px 50%;vertical-align:middle}
.w-rate ._i.z-on{background-position:-191px 50%}
.w-rate ._i.z-in{background-position:-212px 50%}


.w-xbox.z-ds.z-empty{color:#a9a9a9}
.w-xbox-dialog,.w-combobox-dialog{border:1px solid #3298fe;background:#fff;box-shadow:0 4px 4px -2px #eee}
.w-xbox-ico{margin:0 5px 0 1px}
.w-xbox ._o,.w-xbox-dialog ._o{position:relative;padding:0 5px;height:28px;line-height:28px}
.w-xbox-dialog.z-mul ._o{padding-right:36px}
.w-xbox-dialog ._o.z-hv{background-color:#e1f1ff}
.w-xbox-dialog ._o.z-on{background-color:#b0dfff}
.w-xbox-dialog ._o.z-on ._box{position:absolute;width:16px;height:100%;top:0;right:16px;background:url(g/n.png) no-repeat -235px 50%}


.w-input.w-combobox{line-height:0;height:auto;min-height:28px}
.w-combobox ._c{min-height:28px;overflow:hidden;cursor:text}
.w-combobox ._o{position:relative;height:24px;border:1px solid #edf4f7;background:#edf4f7;margin:1px 0 1px 2px;line-height:1;vertical-align:middle}
.w-combobox ._o.z-loading ._x{background:url(g/loading-cir.gif) no-repeat 50% 50%}
.w-combobox ._o.z-loading b{display:none}
.w-combobox ._o ._b{height:100%;vertical-align:middle}
.w-combobox ._o ._g{height:100%;padding:0 8px;color:#333;vertical-align:middle;cursor:default}
.w-combobox ._o:hover{background:#F8FBFC;}
.w-combobox ._o.z-err{background:#fff;border-color:#ff7921}
.w-combobox ._o.z-err.z-on{border-color:#3298fe}
.w-combobox ._v{display:inline-block;height:100%;font-style:normal;vertical-align:middle}
.w-combobox ._r{color:#888;font-style:normal;font-family:verdana}
.w-combobox ._x{display:inline-block;margin:-2px 0 0 4px;width:12px;*line-height:1;font:normal 18px verdana;color:#99a8b8;vertical-align:middle}
.w-combobox ._x:hover,.w-combobox ._o.z-err ._x:hover{color:#f00;cursor:pointer}
.w-combobox ._e{display:inline-block;margin:2px 0;height:24px;padding:0 2px 0 3px;line-height:24px;border:0;vertical-align:middle;font-style:normal;outline:none}
.w-combobox ._plus,.w-pickbox ._plus,.w-onlinebox ._plus,.w-linkbox ._plus,.w-combobox.z-ds ._plus:hover,.w-pickbox.z-ds:hover ._plus,.w-onlinebox.z-ds ._plus:hover{background:url(g/n.png) no-repeat -99px 50%}
.w-combobox ._plus:hover,.w-pickbox:hover ._plus,.w-onlinebox:hover ._plus{background-position:-124px 50%}
.w-combobox.z-loading{color:gray}
.w-combobox.z-loading .w-input-placeholder{display:none}
.w-combobox.z-ds ._o{background:#ddd}
.w-combobox.z-ds ._x{display:none}
.w-combobox ._c.f-nobr{overflow:hidden}

.w-combobox.z-face-tag ._o{height:22px;border-color:#ccc;border-radius:2px;margin:2px 0 2px 5px;}
.w-combobox.z-face-tag ._o ._g{background:#fff}

.w-input.w-linkbox{height:auto;min-height:28px}
.w-linkbox ._t{min-height:28px;vertical-align:middle;word-break:break-all;word-wrap:break-word;font-family:verdana;font-style:normal;outline:none}
.w-linkbox ._t u{padding-right:1px;color:#999;text-decoration:none}
.w-linkbox ._t u._o{color:#333}
.w-linkbox.z-u ._t u{color:#333}
.w-linkbox.z-u ._t u._o{color:#275696;text-decoration:underline}
.w-linkbox ._t i{font-style:normal;padding:0 3px 0 1px;color:#999}
.w-linkbox ._v{display:inline-block;height:22px;line-height:22px;vertical-align:middle}
.w-linkbox.z-loading{color:gray}
.w-linkbox.z-loading .w-input-placeholder{display:none}
.w-linkbox.z-nobr ._t{overflow:hidden;word-break:keep-all;word-wrap:normal;}

.w-onlinebox ._t{font-family:verdana}

.w-imgbox.z-ds{background:#eee;cursor:default;}
.w-imgbox-c{padding:10px;cursor:pointer}
.w-imgbox-c.w-imgbox{padding-right:12px;}
.w-imgbox-c.z-tx{padding-bottom:0;}
.w-imgbox-c.z-on,.w-imgbox-list .w-imgbox-c.z-on:hover{background:#3298fe;}
.w-imgbox-c.z-on ._t{color:#fff}
.w-imgbox-c ._g{border:1px solid #ddd;background:#fff;text-align:center}
.w-imgbox-c ._t{height:22px;line-height:1.5;text-align:center;}
.w-imgbox-c ._r{position:absolute;top:0;bottom:0;right:0;width:10px;text-align:right}
.w-imgbox-c .f-arw{border-left-color:#99a8b8}
.w-imgbox-c:hover .f-arw{border-left-color:#6e8094}
.w-imgbox-list .w-imgbox-c:hover{background:#d0ecff}
.w-imgbox.z-m-t,.w-imgbox.z-m-r,.w-imgbox.z-m-b,.w-imgbox.z-m-l{}
.w-imgbox.z-m-t:after{content:" ";position:absolute;background:#fff;top:-1px;left:0;right:0;height:1px;}
.w-imgbox.z-m-r:after{content:" ";position:absolute;background:#fff;top:0;bottom:0;right:-1px;width:1px;}
.w-imgbox.z-m-b:after{content:" ";position:absolute;background:#fff;bottom:-1px;left:0;right:0;height:1px;}
.w-imgbox.z-m-l:after{content:" ";position:absolute;background:#fff;top:0;bottom:0;left:-1px;width:1px;}

.f-boxbtn{display:inline-block;width:20px;height:28px;vertical-align:top;text-indent:3px;cursor:pointer}
.f-boxbtn .f-arw-b2{border-top-color:#99a8b8;*margin-top:3px}
.f-boxbtn:hover .f-arw-b2{border-top-color:#6e8094}

.f-locker{background:#fff;position:absolute;top:0;left:0;bottom:0;right:0;filter:alpha(opacity=20);opacity:.2;}

.w-album{white-space:normal;text-align:justify}
.w-img{position:relative;text-align:center}
.w-album .w-img{position:relative;padding:10px;border:1px solid transparent;border-radius:2px;}
.w-album .w-img.z-hv{background-color:#f7f8f9;}
.w-album .w-img.z-on{border-color:#b7c6ce;background-color:#f2f2f2;box-shadow:0 2px 3px 0 #eee;}
.w-album .w-img.z-hv .w-img-box,.w-album .w-img.z-on .w-img-box{display:inline-block}
.w-img .w-img-i{text-align:center;vertical-align:middle}
.w-img .w-img-t{text-align:center}
.w-img .w-img-d{color:gray;line-height:2;}
.w-img.z-face-straight{text-align:left}
.w-img.z-face-straight .w-img-t{padding-left:10px;margin-top:0;display:inline-block;text-align:left;vertical-align:middle;*display:inline;*zoom:1}
.w-img.z-face-straight .w-img-s{font-size:14px;line-height:2}
.w-img-box{display:none;position:absolute;top:3px;left:3px}
.w-img-box.w-checkbox{padding:0}

.w-tip{border:1px solid #f3e041;background:#faf0cd;box-shadow:0 0 4px #d9d9d9;}
.w-tip-text{padding:4px 10px;min-height:20px;}
.w-tip.z-x .w-tip-text{padding-right:22px}
.w-tip .w-tip-x{position:absolute;right:2px;top:4px;}
.w-tip .w-dialog-prong.z-b ._in{border-top-color:#faf0cd}
.w-tip .w-dialog-prong.z-b ._out{border-top-color:#f3e041}
.w-tip .w-dialog-prong.z-t ._in{border-bottom-color:#faf0cd}
.w-tip .w-dialog-prong.z-t ._out{border-bottom-color:#f3e041}
.w-tip .w-dialog-prong.z-l ._in{border-right-color:#faf0cd}
.w-tip .w-dialog-prong.z-l ._out{border-right-color:#f3e041}
.w-tip .w-dialog-prong.z-r ._in{border-left-color:#faf0cd}
.w-tip .w-dialog-prong.z-r ._out{border-left-color:#f3e041}

.w-buttonbar{position:relative;overflow:hidden}
.w-buttonbar.z-dirh{white-space:nowrap;word-break:keep-all}
.w-buttonbar.z-dirv .w-button{display:block}
.w-buttonbar.z-autosize{overflow:visible}
.w-buttonbar-line{display:none;position:absolute;right:0;left:0;bottom:0;height:1px;background:#ddd}

/*! button
 *	l: left, r: right
 *	i: icon, t: text, o: oper, p: split, d: arrow, x: remove
 */
.w-button{position:relative;display:inline-block;height:100%;text-align:center;vertical-align:middle;cursor:default;*display:inline;*zoom:1;overflow:hidden;white-space:nowrap;word-break:keep-all;cursor:pointer}
.w-button ._c,.w-button ._i,.w-button ._t,.w-button ._m,.w-button ._x{position:relative;display:inline-block;height:100%;vertical-align:top;*vertical-align:middle;*display:inline;*zoom:1}
.w-button ._c{padding-left:8px}
.w-button ._t,.w-button ._i{padding-right:8px}
.w-button ._i{line-height:1}
.w-button ._t{white-space:pre}
.w-button ._m{position:absolute;top:0;right:0;bottom:0;width:20px}
.w-button ._x{padding-right:5px;color:#99a8b8}
.w-button ._xi{display:inline-block;margin-top:-2px;font:normal 18px verdana;vertical-align:middle}
.w-button ._xi:hover{color:#f00}
.w-button em,.w-menu-button em{font-style:normal;vertical-align:middle}
.w-button img,.w-menu-button img{vertical-align:middle}
.w-button ._m .f-arw{border-top-color:#555;border-bottom:0}
.w-button ._ld{position:absolute;left:0;right:8px;height:100%;background:url(g/loading-cir.gif) no-repeat 50% 50%}
.w-button.z-lock ._ico{opacity:.5}
.w-button.z-on{z-index:1}
.w-button.z-ds{color:#aaa}
.w-button.z-more ._c,.w-button.z-combo ._c{margin-right:13px}
.w-button.z-fixed ._c{position:absolute;left:0;right:0;overflow:hidden;white-space:nowrap;word-break:keep-all;word-wrap:normal}
.w-button.z-combo ._c,.w-button.z-x.z-fixed ._c{margin-right:21px}
.w-button.z-x.z-fixed{text-align:left}
.w-button.z-x.z-fixed ._x{position:absolute;right:0}

.w-button-split{vertical-align:middle;text-align:center}


.f-button{height:28px;border:1px solid #d3d3d3;border-radius:2px;background:#fafafa;color:#333}
.f-button.z-on{background:#fff}
.f-button ._c{padding-left:8px;}
.f-button ._t,.f-button ._i{padding-right:8px}

.f-button.z-normal.z-hv,.f-button.z-more.z-hv,.f-button.z-combo ._c.z-hv,.f-button.z-combo ._m.z-hv{background:#fdfdfd;box-shadow:0 0 3px rgba(0,0,0,.1);}
.f-button.z-normal.z-dn,.f-button.z-more.z-dn,.f-button.z-combo ._c.z-dn,.f-button.z-combo ._m.z-dn{background:#eee;box-shadow:inset 0 2px 0 #e9e9e9;}

.f-button.z-combo ._m{border-left:1px solid #ddd}

.f-groupbar .f-button{margin-right:-1px;border-radius:0}
.f-groupbar .f-button.z-first{border-top-left-radius:2px;border-bottom-left-radius:2px}
.f-groupbar .f-button.z-last{margin-right:0;border-top-right-radius:2px;border-bottom-right-radius:2px}

.f-button.w-submit{background:#18b4ed;border-color:#0baae4;color:#fff}
.f-button.w-submit.z-combo ._m{border-color:#0baae4}
.f-button.w-submit .f-arw{border-top-color:#fff}

.f-button.z-normal.w-submit.z-hv,.f-button.z-more.w-submit.z-hv,.f-button.z-combo.w-submit ._c.z-hv,.f-button.z-combo.w-submit ._m.z-hv{background:#12a8e0}
.f-button.z-normal.w-submit.z-dn,.f-button.z-more.w-submit.z-dn,.f-button.z-combo.w-submit ._c.z-dn,.f-button.z-combo.w-submit ._m.z-dn{background:#11a0d7;box-shadow:inset 0 2px 0 #11a0d7;}

.f-button.z-more.z-snap,.f-button.z-combo.z-snap ._m{background:#e3e3e3}
.f-button.z-more.w-submit.z-snap,.f-button.z-combo.w-submit.z-snap ._m{background:#11a0d7}
.f-button.z-drop{background:#fff}

.f-button-link{cursor:pointer}
.f-button-link ._c{padding-left:4px}
.f-button-link ._t,.f-button-link ._i{padding-right:4px}
.f-button-link.z-hv ._t{text-decoration:underline}

.f-button-simple{height:30px;border:1px solid #ccc;border-radius:2px}
.f-button-simple.z-hv{border-color:#3e89fa}
.f-button-simple.z-on{background:#f2f2f2}
.z-err .f-button-simple{border-color:#f00}
.f-button-simple .txt{display:none}
.f-button-simple.z-hv .ico{display:none}
.f-button-simple.z-hv .txt{display:block}

.w-menu{padding:3px 0;background:#fff;border:1px solid #99a8b8;box-shadow:0 2px 4px rgba(0,0,0,0.2);z-index:3}
.w-menu.z-scroll{padding:0;}
.w-menu ._g{position:relative;overflow:hidden}
.w-menu ._ar{position:relative;height:12px;line-height:0;text-align:center;overflow:hidden}
.w-menu ._ar .f-arw-b2{border-top-color:#aaa}
.w-menu ._ar .f-arw-t2{border-bottom-color:#aaa}
.w-menu ._ar.z-us .f-arw-b2{border-top-color:#333}
.w-menu ._ar.z-us .f-arw-t2{border-bottom-color:#333}
.w-menu-button{position:relative;display:block;height:30px;cursor:default}
.w-menu-button ._c,.w-menu-button ._i,.w-menu-button ._t,.w-menu-button ._m,.w-menu-button ._x{display:inline-block;height:100%;vertical-align:top;*vertical-align:middle}
.w-menu-button ._c{padding-right:36px}
.w-menu-button ._i{width:32px;text-align:center}
.w-menu-button ._t{white-space:pre}
.w-menu-button ._m{position:absolute;right:0;top:0;padding:0 10px 0 26px}
.w-menu-button.z-ds{color:#aaa}
.w-menu-button.z-ds .f-arw-r1{border-left-color:#aaa}
.w-menu-button.z-hv,.w-menu-button.z-open,.w-menu ._ar.z-us:hover{background:#edf4f7}
.w-menu.z-omit ._t{position:absolute;left:32px;right:40px;}
.w-menu.w-submenu{z-index:3}
.w-menu-line{display:none;position:absolute;height:1px;border-left:1px solid transparent;border-right:1px solid transparent;}
.w-dialog.z-snap-41 .w-menu-line{left:-1px;top:-1px}
.w-dialog.z-snap-32 .w-menu-line{right:-1px;top:-1px}
.w-dialog.z-snap-14 .w-menu-line{left:-1px;bottom:-1px}
.w-dialog.z-snap-23 .w-menu-line{right:-1px;bottom:-1px}
.w-dialog.z-mag-t{box-shadow:0 -1px 1px rgba(0,0,0,0.2)}
.w-dialog.z-mag-b{box-shadow:0 2px 2px rgba(0,0,0,0.2)}

.w-page{overflow:hidden}
.w-page ._jbtn{border:1px solid #d3d3d3;border-left:0;height:26px;background:#fafafa;color:#888;cursor:pointer}
.w-page ._jbtn ._c{padding-left:5px;}
.w-page ._jbtn ._t{padding-right:5px;}
.w-page ._jbtn.z-hv{opacity:.9;filter:alpha(opacity=90);box-shadow:0 0 3px rgba(0,0,0,.1)}
.w-page ._jbtn.z-dn{opacity:1;filter:alpha(opacity=100);box-shadow:none}
.w-page ._jump.z-on,.w-page ._jbtn.z-on{border-color:#3e89fa}
.w-page ._jbtn.z-on{background:#3e89fa;color:#fff}
.w-page ._sbtn{margin-left:10px}
.w-page ._t{display:inline-block;vertical-align:middle}
.w-page ._inf,.w-page ._to{padding-left:10px}
.w-page.z-trans ._o,.w-page.z-trans ._o.z-us.z-hv{border-color:transparent}
.w-page .z-sum._o i{display:none}

.w-page-mini ._o,.w-page ._jump{display:inline-block;height:16px;min-width:14px;line-height:16px;padding:0 1px;margin-right:4px;border:1px solid #d3d3d3;color:#777;font-style:normal;text-align:center;vertical-align:middle;outline:none;*width:14px}
.w-page-mini ._o.z-us.z-hv{cursor:pointer;border-color:#3e89fa;color:#3e89fa}
.w-page-mini ._b{background:url(g/i.png) no-repeat}
.w-page-mini ._cur{color:#3e89fa;border-color:transparent}
.w-page-mini ._first{background-position:-71px -91px;}
.w-page-mini ._first.z-us.z-hv{background-position:-88px -91px}
.w-page-mini ._last{background-position:-104px -91px;}
.w-page-mini ._last.z-us.z-hv{background-position:-121px -91px}
.w-page-mini ._prev{background-position:-71px -110px;}
.w-page-mini ._prev.z-us.z-hv{background-position:-88px -110px}
.w-page-mini ._next{background-position:-104px -110px;}
.w-page-mini ._next.z-us.z-hv{background-position:-121px -110px}
.w-page-mini ._jump{width:20px;padding:1px;margin-right:0}
.w-page-mini ._jbtn{height:18px;line-height:0;font-family:arial}

.w-page-text ._o{display:inline-block;height:26px;line-height:26px;*line-height:28px;line-height:28px\0;padding:0 10px;margin-right:5px;border:1px solid #ddd;vertical-align:middle;font-style:normal;font-family:arial}
.w-page-text ._o._cur{font-weight:700}
.w-page-text ._o._num{line-height:26px}
.w-page-text ._b{color:#888;}
.w-page-text ._cur{color:#3e89fa;border-color:transparent}
.w-page-text .z-us{color:#000;cursor:pointer}
.w-page-text .z-us.z-hv{color:#3e89fa;border-color:#3e89fa}
.w-page-text ._jump,.w-page-buttongroup ._jump{width:26px;height:26px;margin:0}
.w-page-text.z-trans ._o{padding:0 8px}


.w-page-buttongroup{*position:relative}
.w-page-button._prev,.w-page-button._next{font-size:15px;font-family:simsun;font-weight:700;line-height:28px\0}
.w-page-button._prev .f-arw,.w-page-button._next .f-arw{display:none}
.w-page-button._prev.z-ds .f-arw{border-right-color:#bbb}
.w-page-button._next.z-ds .f-arw{border-left-color:#bbb}


.w-muldate ._c{height:100%;vertical-align:middle;padding-left:5px;line-height:28px}
.w-muldate-dialog a{color:#333}
.w-muldate-dialog ._i{cursor:pointer}

.f-tab-bar{background:#f8f8f8}
.f-tab-bar.z-horz-2,.f-tab-bar.z-horz-3{text-align:right}
.f-tab-bar.z-horz-2 .f-tab,.f-tab-bar.z-horz-3 .f-tab{border:0;border-left:1px solid #ddd}
.f-tab-bar.z-horz-3 .f-tab-line,.f-tab-bar.z-horz-4 .w-buttonbar-line{top:0;bottom:auto}
.f-tab-bar .w-buttonbar-line{display:block}
.f-tab{border-right:1px solid #ddd}
.f-tab.z-on{background:#fff}
.f-tab.z-more ._c,.f-tab .z-combo ._c{margin-right:13px}


.f-tab-bar.z-vert-1{font-size:14px;text-align:right}
.f-tab-bar.z-vert-1 .f-tab-line{width:0;height:auto;top:0;bottom:0;right:0;left:auto;border-left:1px solid #ddd;}
.f-tab-bar.z-vert-1 .f-tab{display:block;height:30px;border:1px solid transparent;border-right:0;margin-left:10px}
.f-tab-bar.z-vert-1 .f-tab.z-hv{background:#e3e3e3}
.f-tab-bar.z-vert-1 .f-tab.z-on{border-color:#ddd;background:#fff}

.f-tab-bar.z-vert-2{font-size:14px}
.f-tab-bar.z-vert-2 .f-tab-line{width:0;height:auto;top:0;bottom:0;right:auto;left:0;border-left:1px solid #ddd;}
.f-tab-bar.z-vert-2 .f-tab{display:block;height:30px;border:1px solid transparent;border-left:0;margin-right:10px}
.f-tab-bar.z-vert-2 .f-tab.z-hv{background:#e3e3e3}
.f-tab-bar.z-vert-2 .f-tab.z-on{border-color:#ddd;background:#fff}


.f-button-path{border:1px solid transparent}
.f-button-path.z-hv,.f-button-path.z-drop{border-color:#ddd;background:#eee}
.f-button-path ._m{border-left:1px solid transparent}
.f-button-path.z-hv ._m,.f-button-path.z-snap ._m{border-left-color:#ccc}
.f-button-path ._m .f-arw{border:4px solid transparent;border-right:0;border-left-color:#555;}
.f-button-path ._c{position:relative;padding-left:8px}
.f-button-path ._t{padding-right:8px}
.f-button-path ._i{padding-right:8px}
.f-button-path ._m{width:18px}
.f-button-path.z-combo ._c{margin-right:19px}
.f-button-path ._c.z-dn,.f-button-path.z-snap ._m{background:#e3e3e3}
.f-button-path.z-snap ._m .f-arw{border:4px solid transparent;border-bottom:0;border-top-color:#555;}

.f-deck-button{background:#f2f2f2;border-top:1px solid #ddd;border-bottom:1px solid #ddd}

.f-i{display:inline-block;width:16px;height:16px;background-repeat:no-repeat;vertical-align:middle;line-height:1;*display:inline;*zoom:1}
.f-i-close{background-image:url(g/i.png);background-position:-70px -17px}
.f-i-close:hover{background-position:-104px -17px;cursor:pointer}
.f-i-config{background-image:url(g/i.png);background-position:-148px 0}
.f-i-loading{width:16px;height:16px;background-image:url(g/loading.gif)}
.f-i-more{background-image:url(g/n.png);background-position:-99px 50%}
.f-i-trash{background-image:url(g/n.png);background-position:-148px 50%}
.f-i-plus{background-image:url(g/i.png);background-position:-71px -126px}
.f-i-minus{background-image:url(g/i.png);background-position:-88px -126px}
.f-i-search{background-image:url(g/i.png);background-position:-73px -148px}
.f-i-alertwarn{width:40px;height:40px;background-image:url(g/i.png);background-position:0 0}
.f-i-alertask{width:40px;height:40px;background-image:url(g/i.png);background-position:0 -86px}
.f-i-chrome{width:33px;height:32px;background-image:url(g/i.png);background-position:0 -272px}
.f-i-ie{width:33px;height:32px;background-image:url(g/i.png);background-position:0 -312px}

.f-i-file-vid{width:30px;height:30px;background:url(g/f.png) -97px -87px}
.f-i-file-ppt{width:30px;height:30px;background:url(g/f.png) -241px -87px}
.f-i-file-xls{width:30px;height:30px;background:url(g/f.png) -385px -87px}
.f-i-file-fla{width:30px;height:30px;background:url(g/f.png) -529px -87px}
.f-i-file-fon{width:30px;height:30px;background:url(g/f.png) -97px -190px}
.f-i-file-zip{width:30px;height:30px;background:url(g/f.png) -241px -190px}
.f-i-file-eps{width:30px;height:30px;background:url(g/f.png) -385px -190px}
.f-i-file-txt{width:30px;height:30px;background:url(g/f.png) -529px -190px}
.f-i-file-aud{width:30px;height:30px;background:url(g/f.png) -673px -190px}
.f-i-file-pdf{width:30px;height:30px;background:url(g/f.png) -241px -293px}
.f-i-file-ai{width:30px;height:30px;background:url(g/f.png) -385px -293px}
.f-i-file-psd{width:30px;height:30px;background:url(g/f.png) -529px -293px}
.f-i-file-img{width:30px;height:30px;background:url(g/f.png) -673px -293px}
.f-i-file-css{width:30px;height:30px;background:url(g/f.png) -97px -396px}
.f-i-file-doc{width:30px;height:30px;background:url(g/f.png) -241px -396px}
.f-i-file-iso{width:30px;height:30px;background:url(g/f.png) -385px -396px}
.f-i-file-js{width:30px;height:30px;background:url(g/f.png) -529px -396px}
.f-i-file-file{width:30px;height:30px;background:url(g/f.png) -673px -396px}
.f-i-file-htm{width:30px;height:30px;background:url(g/f.png) -97px -396px}

.w-upload.z-err{border:1px solid red}

.w-upload ._bbar{overflow:hidden}
.w-uploadimage{line-height:0}
.w-upload.z-ds ._bbar,.w-upload.z-lmt ._bbar,.w-upload.z-ds ._x{width:0;height:0;overflow:hidden}
.w-upload.z-ds ._close{visibility:hidden}

.w-uploadimage ._bbar,.w-uploadimage ._vbar{display:inline-block;vertical-align:middle;*display:inline;*zoom:1}

.w-upload-icon-local.f-i{display:inline-block;width:22px;height:22px;background:url(g/i.png) no-repeat -145px -49px}
.w-upload-icon-net.f-i{display:inline-block;width:22px;height:22px;background:url(g/i.png) no-repeat -172px -49px}
.w-upload-icon-file.f-i{display:inline-block;width:16px;height:16px;background:url(g/i.png) no-repeat -103px -38px}
.w-upload-button{margin:3px 0}
.w-upload-button .swfupload{position:absolute;top:0;bottom:0;left:0;right:0;}
.w-uploadimage .w-upload-button{margin:2px 0 3px 0;border:2px dashed #ccc}
.w-uploadimage .w-upload-button.z-hv{border-color:#72a9fc}
.w-uploadimage .w-upload-button ._m{display:none}
.w-uploadimage .w-upload-button.z-more ._c{margin-right:0}

.w-upload-value-simple{position:relative;height:30px;margin:5px 10px 5px 0px;padding-right:0;background:#edf4f7;border-radius:2px}
.w-upload-value-simple ._name{text-align:left;border-radius:2px}
.w-upload-value-simple ._name ._t{padding-right:6px;line-height:26px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
.w-upload-value-simple ._name ._t:hover{text-decoration:underline;cursor:pointer}
.w-upload-value-simple ._name ._c{padding-left:0}
.w-upload-value-simple ._name ._i{padding-right:6px}
.w-upload-value-simple ._btnbar{height:100%}
.w-upload-value-simple ._btnbar .w-button{line-height:1;color:#777}
.w-upload-value-simple ._btnbar ._close:hover{color:#f00;background:#d1e2e9;cursor:pointer}
.w-upload-value-simple ._btnbar ._more:hover,.w-upload-value-simple ._btnbar ._more.z-snap{background:#d1e2e9;cursor:pointer}
.w-upload-value-simple ._btnbar ._c{padding-left:5px;margin:0}
.w-upload-value-simple ._btnbar ._t{width:15px;padding-right:4px;font-size:18px;margin-top:-1px}
.w-upload-value-simple ._btnbar ._i{padding-right:7px}
.w-upload-value-simple ._btnbar ._m{display:none}
.w-upload-value-simple ._btnbar ._close ._c{padding-left:6px}
.w-upload-value-simple ._btnbar ._close ._i{padding-right:5px}
.w-upload-value-simple a{color:#333}
.w-upload-value-simple ._ex{position:relative;color:#ff7921;vertical-align:middle;font-style:normal;margin-right:3px}
.w-upload-value-simple ._progress{position:absolute;top:0;left:29px;right:0;bottom:0;background:#fff;border:1px solid #c7dbe3;border-radius:0 2px 2px 0}
.w-upload-value-simple ._percent{position:absolute;top:0;left:0;bottom:0;background:#ddf7ff}
.w-upload-value-simple.z-loading{background:#fff}
.w-upload-value-simple.z-err{background:#fff0e8;color:gray}

.w-upload-value-image{position:relative;margin:2px 4px 2px 0;text-align:center}
.w-upload-value-image ._name{position:relative;border:1px solid #ccc;width:100px;height:100px;vertical-align:middle}
.w-upload-value-image ._btnbar{visibility:hidden;position:absolute;line-height:1;top:1px;right:0;color:#aaa;}
.w-upload-value-image:hover ._btnbar{visibility:visible}
.w-upload-value-image ._btnbar ._t{margin-top:-4px;padding:0;font-size:18px;font-family:verdana;cursor:pointer}
.w-upload-value-image ._btnbar ._c:hover{color:#f00;background:#557}
.w-upload-value-image ._btnbar ._c{width:20px;height:20px;padding:0;color:#fff}
.w-upload-value-image ._btnbar .f-arw{border-top-color:#fff}
.w-upload-value-image ._progress{position:absolute;top:0;left:0;right:0;bottom:0;background:#000;opacity:.5}
.w-upload-value-image ._g{vertical-align:middle}
.w-upload-value-image ._ex{position:absolute;display:inline-block;top:0;left:15px;right:15px;bottom:0;color:#fd7921;font-style:normal}
.w-upload-value-image ._more{position:absolute;display:none;right:2px;top:0;width:12px;height:12px;border:1px solid #aaa;border-left:0;cursor:pointer}
.w-upload-value-image ._more .f-arw{vertical-align:top;margin-top:5px}
.w-upload-value-image ._loading{position:absolute;top:50%;left:50%;margin:-8px 0 0 -8px}
.w-upload-value-image:hover ._cvr{position:absolute;width:100%;height:100%;top:0;left:0;background:#777;opacity:.6;filter:Alpha(opacity=60)}
.w-upload-value-image.z-err ._progress{display:none}

.w-buttonbar .f-sub-horz.z-htmn,.w-upload .f-sub-horz.z-htmn,.w-page .f-sub-horz.z-htmn{float:none;display:inline-block;*display:inline;*zoom:1}

.f-opc0{opacity:0}
.f-css2 .f-opc0{filter:Alpha(opacity=0)}
div.f-dnd-helper{position:absolute;left:0;right:0;height:2px}
div.f-dnd-helper ._g{position:absolute;top:0;left:0;right:0;bottom:0;background:red}
tr.f-dnd-helper{height:2px;background:red}
tr.f-dnd-helper ._g{padding:0}
.f-dnd-notallowed{cursor:not-allowed}
.f-pic-prev-cursor{/*js import*/}
.f-pic-next-cursor{/*js import*/}

d\:wg{display:none}
