<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd"
       default-lazy-init="true">

    <!--    <bean class="org.springframework.web.servlet.mvc.annotation.DefaultAnnotationHandlerMapping"/>-->
    <!--    <bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter"/>-->
    <!-- 容器默认的DefaultServletHandler处理 所有静态内容与无RequestMapping处理的URL-->
    <mvc:default-servlet-handler/>

    <bean class="org.springframework.web.servlet.mvc.SimpleControllerHandlerAdapter"/>
    <bean class="org.springframework.web.servlet.mvc.HttpRequestHandlerAdapter"/>

    <!-- 开启注解驱动 -->
    <!--<mvc:annotation-driven>-->
        <!--&lt;!&ndash; 开启多值传输功能 &ndash;&gt;-->
        <!--<mvc:message-converters>-->
            <!--&lt;!&ndash; dfish-ui 包内容转化器 &ndash;&gt;-->
            <!--<bean class="com.rongji.dfish.framework.mvc.response.DFishUIConverter"></bean>-->
            <!--&lt;!&ndash; 字符转换 &ndash;&gt;-->
            <!--<bean class="org.springframework.http.converter.StringHttpMessageConverter">-->
                <!--<constructor-arg value="${system.encoding}"/>-->
            <!--</bean>-->
            <!--&lt;!&ndash; 接口开发模式的JsonResponse转换 &ndash;&gt;-->
            <!--<bean class="com.rongji.dfish.framework.mvc.response.ObjectToJsonConverter"></bean>-->
        <!--</mvc:message-converters>-->
    <!--</mvc:annotation-driven>-->
    <mvc:annotation-driven enableMatrixVariables="true">
        <mvc:message-converters register-defaults="true">
            <!-- 将StringHttpMessageConverter的默认编码设为UTF-8 -->
            <bean class="org.springframework.http.converter.StringHttpMessageConverter">
                <constructor-arg value="${system.encoding}" />
            </bean>
            <bean class="com.rongji.dfish.framework.JsonHttpMessageConverter"/>
            <bean
                    class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
                <property name="prefixJson" value="false" />
                <property name="supportedMediaTypes" value="application/json" />
                <property name="objectMapper">
                    <bean class="com.fasterxml.jackson.databind.ObjectMapper">
                        <property name="serializationInclusion">
                            <value type="com.fasterxml.jackson.annotation.JsonInclude.Include">NON_EMPTY</value>
                        </property>
                        <property name="dateFormat" >
                            <value type="java.text.SimpleDateFormat">yyyy-MM-dd HH:mm:ss</value>
                        </property>
                    </bean>
                </property>
            </bean>
            <!--<bean class="com.rongji.dfish.frame.converter.JsonResponseHttpMessageConverter"/>-->
        </mvc:message-converters>
    </mvc:annotation-driven>

    <!-- 附件上传参数  -->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <!-- 最大上传附件大小,单位B -->
        <property name="maxUploadSize" value="${file.maxUploadSize}"/>
        <property name="defaultEncoding" value="${system.encoding}"/>
    </bean>

    <!-- Controller层扫描 -->
    <context:component-scan base-package="com.rongji.dfish.*;" use-default-filters="false">
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
        <context:include-filter type="annotation" expression="org.springframework.web.bind.annotation.RestController"/>
    </context:component-scan>

    <!-- 附件 -->
    <bean class="com.rongji.dfish.framework.plugin.file.controller.FileController"></bean>
    <!-- 拖动验证码 -->
    <bean class="com.rongji.dfish.framework.plugin.code.controller.JigsawController"></bean>

</beans>