<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
       default-lazy-init="true">


    <!-- 事务管理器 -->
    <bean id="transactionManager" class="org.springframework.orm.hibernate5.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory"></property>
    </bean>

    <!-- 使用hibernate -->
    <bean name="sessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
<!--        <property name="annotatedClasses" value="org.hibernate.cfg.AnnotatedClassType"></property>-->
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.show_sql">${hibernate.show_sql}</prop>
                <prop key="hibernate.dialect">${hibernate.dialect}</prop>
            </props>
        </property>
        <property name="mappingLocations">
            <list>
                <value>classpath:com/rongji/dfish/framework/hibernate/mapper/*.hbm.xml</value>
            </list>
        </property>
        <property name="packagesToScan">
            <list>
                <value>com.rongji.dfish.demo.entity</value>
                <value>com.rongji.dfish.framework.plugin.*</value>
            </list>
        </property>
    </bean>
    <bean id="hibernateTemplate" class="org.springframework.orm.hibernate5.HibernateTemplate">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

<!--    &lt;!&ndash; lob模块 &ndash;&gt;-->
<!--    <bean id="lobDao" class="com.rongji.dfish.framework.hibernate5.plugin.lob.dao.impl.LobDao4Hibernate">-->
<!--    </bean>-->

<!--    &lt;!&ndash; 附件模块 &ndash;&gt;-->
<!--    <bean id="fileDao" class="com.rongji.dfish.framework.hibernate5.plugin.file.dao.impl.FileDao4Hibernate">-->
<!--    </bean>-->
        <bean id="pubExceptionDao" class="com.rongji.dfish.framework.hibernate5.plugin.exception.dao.impl.PubExceptionDao4Hibernate"/>


</beans>