<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="
            http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
            http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
            http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd"
       default-lazy-init="true">

    <!-- Service层扫描 -->
    <context:component-scan base-package="com.rongji.dfish.*;">
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Service"/>
    </context:component-scan>

    <!--注解式事务开启-->
    <tx:annotation-driven/>

    <!-- aop声明式事务 -->
    <tx:advice id="txAdvice">
        <tx:attributes>
            <tx:method name="delete*"/>
            <tx:method name="update*"/>
            <tx:method name="save*"/>
            <tx:method name="*" read-only="true"/>
        </tx:attributes>
    </tx:advice>
    <aop:config>
        <aop:pointcut id="serviceMethods" expression="execution(* *..service.*.*(..))"/>
        <aop:advisor advice-ref="txAdvice" pointcut-ref="serviceMethods"/>
    </aop:config>

    <!-- json构建器 -->
    <bean id="jsonBuilder" class="com.rongji.dfish.misc.util.json.impl.JsonBuilder4Fastjson"></bean>

    <!-- lob模块 -->
    <bean id="lobService" class="com.rongji.dfish.framework.plugin.lob.service.impl.LobServiceImpl"></bean>

    <!-- 附件模块 -->
    <bean id="fileService" class="com.rongji.dfish.framework.plugin.file.service.impl.FileServiceImpl"></bean>
    <bean id="fileHandleManager" class="com.rongji.dfish.framework.plugin.file.config.FileHandleManager"></bean>

    <!-- 图片水印 -->
    <bean id="watermark" class="com.rongji.dfish.base.img.ImageWatermarkConfig">
        <property name="text" value="DFish"></property>
<!--        <property name="imagePath" value="skin/img/favicon.ico"></property>-->
<!--        <property name="imageAlpha" value="1.0"></property>-->
        <property name="x" value="-30"></property>
        <property name="y" value="-30"></property>
    </bean>

    <!-- 通用头像图片缩放定义 -->
    <bean id="image100x100" class="com.rongji.dfish.framework.plugin.file.config.img.ImageHandleConfig">
        <property name="way" value="cut"></property>
        <property name="width" value="100"></property>
        <property name="height" value="100"></property>
        <property name="markPoint" value="true"></property>
<!--        <property name="watermark" ref="watermark"></property>-->
    </bean>
    <bean id="image80x80" class="com.rongji.dfish.framework.plugin.file.config.img.ImageHandleConfig">
        <property name="way" value="cut"></property>
        <property name="width" value="80"></property>
        <property name="height" value="80"></property>
    </bean>
    <bean id="image60x60" class="com.rongji.dfish.framework.plugin.file.config.img.ImageHandleConfig">
        <property name="way" value="cut"></property>
        <property name="width" value="60"></property>
        <property name="height" value="60"></property>
    </bean>
    <bean id="image40x40" class="com.rongji.dfish.framework.plugin.file.config.img.ImageHandleConfig">
        <property name="way" value="cut"></property>
        <property name="width" value="40"></property>
        <property name="height" value="40"></property>
    </bean>
    <bean id="image20x20" class="com.rongji.dfish.framework.plugin.file.config.img.ImageHandleConfig">
        <property name="way" value="cut"></property>
        <property name="width" value="20"></property>
        <property name="height" value="20"></property>
    </bean>

    <bean id="abstractScheme" class="com.rongji.dfish.framework.plugin.file.config.img.ImageHandleScheme">
        <property name="handleTypes" value="${icon.types}"></property>
        <property name="handleZoomDefault" value="true"></property>
    </bean>

    <!-- 人员头像缩放方案 -->
    <bean parent="abstractScheme">
        <property name="name" value="USER_ICON"></property>
        <property name="defaultIcon" value="icon_user.png"></property>
        <property name="handleConfigs">
            <list>
                <ref bean="image100x100"></ref>
                <ref bean="image80x80"></ref>
                <ref bean="image60x60"></ref>
                <ref bean="image40x40"></ref>
                <ref bean="image20x20"></ref>
            </list>
        </property>
    </bean>

    <!-- 进度条模块 -->
    <bean id="progressManager" class="com.rongji.dfish.framework.plugin.progress.ProgressManager" lazy-init="false">
        <property name="executorSize" value="${progress.executorSize}"></property>
    </bean>

</beans>