<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="
            http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd
            http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.2.xsd"
       default-lazy-init="true">

    <!-- Service层扫描 -->
    <context:component-scan
            base-package="com.rongji.dfish.demo.*;"
            use-default-filters="false">
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Service"/>
    </context:component-scan>

    <!--启动spring事务注解功能-->
    <tx:annotation-driven/>

<!--    <bean id="transactionManager" class="org.mybatis.spring.transaction.SpringManagedTransaction">-->
<!--        <constructor-arg name="dataSource" ref="dataSource"></constructor-arg>-->
<!--    </bean>-->

    <!-- json构建器 -->
    <bean id="jsonBuilder" class="com.rongji.dfish.misc.util.json.impl.JsonBuilder4Fastjson"></bean>

    <!-- lob模块 -->
    <bean id="lobService" class="com.rongji.dfish.framework.plugin.lob.service.impl.LobServiceImpl"></bean>

    <!-- 附件模块 -->
    <bean id="fileService" class="com.rongji.dfish.framework.plugin.file.service.impl.FileServiceImpl"></bean>

    <!-- 默认原图尺寸缩放定义 -->
    <bean class="com.rongji.dfish.framework.plugin.file.controller.config.ImageHandlingDefine">
        <property name="alias" value="DEFAULT"></property>
        <property name="way" value="zoom"></property>
        <property name="width" value="-1"></property>
        <property name="height" value="-1"></property>
    </bean>

    <!-- 通用头像图片缩放定义 -->
    <bean class="com.rongji.dfish.framework.plugin.file.controller.config.ImageHandlingDefine">
        <property name="way" value="cut"></property>
        <property name="width" value="100"></property>
        <property name="height" value="100"></property>
    </bean>
    <bean class="com.rongji.dfish.framework.plugin.file.controller.config.ImageHandlingDefine">
        <property name="way" value="cut"></property>
        <property name="width" value="80"></property>
        <property name="height" value="80"></property>
    </bean>
    <bean class="com.rongji.dfish.framework.plugin.file.controller.config.ImageHandlingDefine">
        <property name="way" value="cut"></property>
        <property name="width" value="60"></property>
        <property name="height" value="60"></property>
    </bean>
    <bean class="com.rongji.dfish.framework.plugin.file.controller.config.ImageHandlingDefine">
        <property name="way" value="cut"></property>
        <property name="width" value="40"></property>
        <property name="height" value="40"></property>
    </bean>
    <bean class="com.rongji.dfish.framework.plugin.file.controller.config.ImageHandlingDefine">
        <property name="way" value="cut"></property>
        <property name="width" value="20"></property>
        <property name="height" value="20"></property>
    </bean>

    <!-- 人员头像缩放方案 -->
    <bean class="com.rongji.dfish.framework.plugin.file.controller.config.FileHandlingScheme">
        <property name="name" value="USER_ICON"></property>
        <property name="defaultIcon" value="icon_user.png"></property>
        <property name="handlingTypes" value="${icon.types}"></property>
        <property name="defines">
            <list>
                <value>DEFAULT</value>
                <value>100x100</value>
                <value>80x80</value>
                <value>60x60</value>
                <value>40x40</value>
                <value>20x20</value>
            </list>
        </property>
    </bean>

    <!-- 进度条模块 -->
    <bean id="progressCache" class="com.rongji.dfish.base.cache.impl.MemoryCache"></bean>
    <bean id="progressManager" class="com.rongji.dfish.framework.plugin.progress.ProgressManager" lazy-init="false">
        <property name="progressCache" ref="progressCache"></property>
        <property name="executorSize" value="${progress.executorSize}"></property>
    </bean>

    <!-- 验证码模块 -->
    <bean id="checkCodeGenerator" class="com.rongji.dfish.framework.plugin.code.CheckCodeGenerator">
        <property name="alias" value="110x50"></property>
        <property name="width" value="110"></property>
        <property name="height" value="50"></property>
    </bean>

    <!-- 拖动验证码 -->
    <bean id="jigsawGenerator" class="com.rongji.dfish.framework.plugin.code.JigsawGenerator"></bean>

</beans>