<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd"
       default-lazy-init="true">

    <!-- 数据源公共配置 -->
    <bean id="abstractDataSource"
          class="org.apache.commons.dbcp.BasicDataSource"
          destroy-method="close">
        <property name="driverClassName" value="${db.driverClassName}"/>

        <property name="testOnBorrow" value="${db.testOnBorrow}"/>
        <property name="testOnReturn" value="${db.testOnReturn}"/>
        <property name="validationQuery" value="${db.validationQuery}"/>
        <property name="timeBetweenEvictionRunsMillis" value="${db.timeBetweenEvictionRunsMillis}"/>
        <property name="maxActive" value="${db.maxActive}"/>
        <property name="maxWait" value="${db.maxWait}"/>
        <property name="removeAbandoned" value="${db.removeAbandoned}"/>
        <property name="removeAbandonedTimeout" value="${db.removeAbandonedTimeout}"/>
    </bean>

    <!-- 当前项目数据源  -->
    <bean id="dataSource" parent="abstractDataSource">
        <property name="url" value="${db.url}"/>
        <property name="username" value="${db.username}"/>
        <property name="password" value="${db.password}"/>
    </bean>

    <!-- JdbcTemplate -->
    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <constructor-arg name="dataSource" ref="dataSource"></constructor-arg>
    </bean>

    <!-- 使用hibernate -->
    <bean name="sessionFactory" class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="configurationClass" value="org.hibernate.cfg.AnnotationConfiguration"></property>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.show_sql">${hibernate.show_sql}</prop>
                <prop key="hibernate.dialect">${hibernate.dialect}</prop>
            </props>
        </property>
        <property name="mappingLocations">
            <list>
                <value>classpath:com/rongji/dfish/framework/hibernate/mapper/*.hbm.xml</value>
            </list>
        </property>
        <property name="packagesToScan">
            <list>
                <value>com.rongji.dfish.demo.entity</value>
            </list>
        </property>
    </bean>
    <bean id="hibernateTemplate" class="org.springframework.orm.hibernate3.HibernateTemplate">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <!-- lob模块 -->
    <bean id="lobDao" class="com.rongji.dfish.framework.hibernate.plugin.lob.dao.impl.LobDao4Hibernate">
        <property name="hibernateTemplate" ref="hibernateTemplate"/>
    </bean>

    <!-- 附件模块 -->
    <bean id="fileDao" class="com.rongji.dfish.framework.hibernate.plugin.file.dao.impl.FileDao4Hibernate">
        <property name="hibernateTemplate" ref="hibernateTemplate"/>
    </bean>

<!--    &lt;!&ndash; 使用Mybatis &ndash;&gt;-->
<!--    <bean id="sessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">-->
<!--        &lt;!&ndash; 注入数据库连接池 &ndash;&gt;-->
<!--        <property name="dataSource" ref="dataSource"/>-->
<!--        &lt;!&ndash; 配置MyBaties全局配置文件:mybatis-config.xml &ndash;&gt;-->
<!--        <property name="configLocation" value="classpath:mybatis-config.xml"/>-->
<!--        &lt;!&ndash; 扫描entity包 使用别名 &ndash;&gt;-->
<!--        <property name="typeAliasesPackage" value="com.rongji.dfish.**.entity"/>-->
<!--        &lt;!&ndash; 扫描sql配置文件:mapper需要的xml文件 &ndash;&gt;-->
<!--        <property name="mapperLocations" value="classpath:com/rongji/dfish/framework/mybatis/mapper/*.xml"/>-->
<!--    </bean>-->
<!--    &lt;!&ndash; 配置扫描Dao接口包，动态实现Dao接口，注入到spring容器中 &ndash;&gt;-->
<!--    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">-->
<!--        &lt;!&ndash; 注入sqlSessionFactory &ndash;&gt;-->
<!--        <property name="sqlSessionFactoryBeanName" value="sessionFactory"/>-->
<!--        &lt;!&ndash; 给出需要扫描Dao接口包 &ndash;&gt;-->
<!--        <property name="basePackage" value="com.rongji.dfish.framework.mybatis.**"/>-->
<!--    </bean>-->

<!--    &lt;!&ndash; lob模块 &ndash;&gt;-->
<!--    <bean id="lobDao" class="org.mybatis.spring.mapper.MapperFactoryBean">-->
<!--        <property name="sqlSessionFactory" ref="sessionFactory"/>-->
<!--        <property name="mapperInterface" value="com.rongji.dfish.framework.mybatis.plugin.lob.dao.impl.LobDao4Mybatis"/>-->
<!--    </bean>-->

<!--    &lt;!&ndash; 附件模块 &ndash;&gt;-->
<!--    <bean id="fileDao" class="org.mybatis.spring.mapper.MapperFactoryBean">-->
<!--        <property name="sqlSessionFactory" ref="sessionFactory"/>-->
<!--        <property name="mapperInterface" value="com.rongji.dfish.framework.mybatis.plugin.file.dao.impl.FileDao4Mybatis"/>-->
<!--    </bean>-->

</beans>