<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="
            http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd
            http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.2.xsd"
       default-lazy-init="true">

    <!-- Service层扫描 -->
    <context:component-scan
            base-package="com.rongji.dfish.demo.*;"
            use-default-filters="false">
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Service"/>
    </context:component-scan>

    <!--启动spring事务注解功能-->
    <tx:annotation-driven/>

<!--    <bean id="transactionManager" class="org.mybatis.spring.transaction.SpringManagedTransaction">-->
<!--        <constructor-arg name="dataSource" ref="dataSource"></constructor-arg>-->
<!--    </bean>-->

    <!-- json构建器 -->
    <bean id="jsonBuilder" class="com.rongji.dfish.misc.util.json.impl.JsonBuilder4Fastjson"></bean>

    <!-- lob模块 -->
    <bean id="lobService" class="com.rongji.dfish.framework.plugin.lob.service.impl.LobServiceImpl"></bean>

    <!-- 附件模块 -->
    <bean id="fileService" class="com.rongji.dfish.framework.plugin.file.service.impl.FileServiceImpl"></bean>
    <bean id="fileHandleManager" class="com.rongji.dfish.framework.plugin.file.controller.config.FileHandleManager"></bean>

    <!-- 图片处理方式-缩放 -->
    <bean id="handleZoom" class="org.springframework.beans.factory.config.FieldRetrievingFactoryBean">
        <property name="staticField" value="com.rongji.dfish.base.util.img.ImageHandleWay.ZOOM"></property>
    </bean>
    <!-- 图片处理方式-裁剪 -->
    <bean id="handleCut" class="org.springframework.beans.factory.config.FieldRetrievingFactoryBean">
        <property name="staticField" value="com.rongji.dfish.base.util.img.ImageHandleWay.CUT"></property>
    </bean>
    <!-- 图片处理方式-强制改变大小 -->
    <bean id="handleResize" class="org.springframework.beans.factory.config.FieldRetrievingFactoryBean">
        <property name="staticField" value="com.rongji.dfish.base.util.img.ImageHandleWay.RESIZE"></property>
    </bean>

    <!-- 默认原图尺寸缩放定义 -->
    <bean id="imageDefault" class="com.rongji.dfish.framework.plugin.file.controller.config.impl.ImageHandleDefine">
        <property name="alias" value="DEFAULT"></property>
        <property name="way" ref="handleZoom"></property>
        <property name="width" value="-1"></property>
        <property name="height" value="-1"></property>
        <property name="lazy" value="false"></property>
    </bean>

    <!-- 通用头像图片缩放定义 -->
    <bean id="image100x100" class="com.rongji.dfish.framework.plugin.file.controller.config.impl.ImageHandleDefine">
        <property name="way" ref="handleCut"></property>
        <property name="width" value="100"></property>
        <property name="height" value="100"></property>
    </bean>
    <bean id="image80x80" class="com.rongji.dfish.framework.plugin.file.controller.config.impl.ImageHandleDefine">
        <property name="way" ref="handleCut"></property>
        <property name="width" value="80"></property>
        <property name="height" value="80"></property>
    </bean>
    <bean id="image60x60" class="com.rongji.dfish.framework.plugin.file.controller.config.impl.ImageHandleDefine">
        <property name="way" ref="handleCut"></property>
        <property name="width" value="60"></property>
        <property name="height" value="60"></property>
    </bean>
    <bean id="image40x40" class="com.rongji.dfish.framework.plugin.file.controller.config.impl.ImageHandleDefine">
        <property name="way" ref="handleCut"></property>
        <property name="width" value="40"></property>
        <property name="height" value="40"></property>
    </bean>
    <bean id="image20x20" class="com.rongji.dfish.framework.plugin.file.controller.config.impl.ImageHandleDefine">
        <property name="way" ref="handleCut"></property>
        <property name="width" value="20"></property>
        <property name="height" value="20"></property>
    </bean>

    <!-- 人员头像缩放方案 -->
    <bean class="com.rongji.dfish.framework.plugin.file.controller.config.FileHandleScheme">
        <property name="name" value="USER_ICON"></property>
        <property name="defaultIcon" value="icon_user.png"></property>
        <property name="handlingTypes" value="${icon.types}"></property>
        <property name="defines">
            <list>
                <ref bean="imageDefault"></ref>
                <ref bean="image100x100"></ref>
                <ref bean="image80x80"></ref>
                <ref bean="image60x60"></ref>
                <ref bean="image40x40"></ref>
                <ref bean="image20x20"></ref>
            </list>
        </property>
    </bean>

    <!-- 进度条模块 -->
    <bean id="progressCache" class="com.rongji.dfish.base.cache.impl.MemoryCache"></bean>
    <bean id="progressManager" class="com.rongji.dfish.framework.plugin.progress.ProgressManager" lazy-init="false">
        <property name="progressCache" ref="progressCache"></property>
        <property name="executorSize" value="${progress.executorSize}"></property>
    </bean>

    <!-- 验证码模块 -->
    <bean id="checkCodeGenerator" class="com.rongji.dfish.framework.plugin.code.CheckCodeGenerator">
        <property name="alias" value="110x50"></property>
        <property name="width" value="110"></property>
        <property name="height" value="50"></property>
    </bean>

    <!-- 拖动验证码 -->
    <bean id="jigsawGenerator" class="com.rongji.dfish.framework.plugin.code.JigsawGenerator"></bean>

</beans>