<?xml version="1.0" encoding="UTF-8"?>

<Configuration status="warn">
    <Properties>
        <Property name="baseDir">../logs</Property>
    </Properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="[%-5p] %d %c - %m%n"/>
        </Console>
        <File name="File" fileName="${baseDir}/pdc.log">
            <PatternLayout pattern="[%-5p] %d [%c] [%t] - %m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="100MB"/>
            </Policies>
            <DefaultRolloverStrategy max="30">
            </DefaultRolloverStrategy>
        </File>
        <ExceptionAppender name="ExceptionAppender" />
    </Appenders>

    <Loggers>
        <Logger name="com.rongji" level="DEBUG"></Logger>
        <Logger name="com.rongji" level="INFO">
            <AppenderRef ref="File"/>
        </Logger>
        <Root level="INFO">
            <AppenderRef ref="Console"/>
        </Root>
        <Logger name="com.rongji" level="DEBUG">
            <AppenderRef ref="ExceptionAppender"/>
        </Logger>
    </Loggers>
</Configuration>