.index-root {
    background-color: #edf0f2;
}

.index-head {
    background-color: #009bdb;
}

.w-buttonbar.index-head-nav {

}

.w-buttonbar.index-head-nav .w-button {
    color: #fff;
    background-color: transparent;
    border-color: transparent;
}

.w-buttonbar.index-head-nav .w-button.z-hv {
    background-color: #1588d4;
}

.w-buttonbar.index-head-nav .w-button.z-on {
    background-color: #0e80cb;
}

.w-buttonbar.index-head-oper {

}

.w-buttonbar.index-head-oper .w-button {
    color: #fff;
    background-color: transparent;
    border-color: transparent;
}

.w-buttonbar.index-head-oper .w-button ._c {
    padding-left: 5px;
}

.w-buttonbar.index-head-oper .w-button ._t, .w-buttonbar.index-head-oper .w-button ._i {
    padding-right: 5px;
}

.w-buttonbar.index-head-oper .w-button.z-hv {
    background-color: #1588d4;
}


