/* carousel.css
 * 
 */

.w-carousel{position:relative;text-align:center}
.w-carousel ._big{position:absolute;transform:translate(-50%,-50%);top:50%;left:50%;}
.f-css2 .w-carousel ._big{position:static}
.w-carousel ._prev,.w-carousel ._next{position:absolute;top:0;bottom:0;margin:auto 0;}
.w-carousel ._prev{left:0}
.w-carousel ._next{right:0}
.w-carousel.z-hideprev ._prev,.w-carousel.z-hidenext ._next,.w-carousel.z-one ._prev,.w-carousel.z-one ._next{display:none}


.w-carousel-btn{border:2px solid transparent;margin:2px 0;}
.w-carousel-btn.z-on{border-color:#fa7d3c}
.w-carousel-btn ._c,.w-carousel-btn ._i{padding:0}

.w-carousel-big{font-size:0}
.w-carousel-big ._t,.w-carousel-big ._b{display:block;position:absolute;bottom:0;left:0;right:0;height:30px;line-height:30px;color:#fff;font-size:14px;cursor:pointer}
.w-carousel-big ._b{background:#333;opacity:.5}
.w-carousel-big ._t:hover{text-decoration:underline}

.carousel-1{position:relative;}
.carousel-1 .w-carousel-bbr{position:absolute;bottom:0;height:30px!important;}
.carousel-1 .w-carousel-btn{width:60px;height:6px;background:#f2f2f2;border:0;margin:0 2px;border-radius:3px}
.carousel-1 .w-carousel-btn ._ico{display:none}
.carousel-1 .w-carousel-btn.z-on{background:#77f;}

.carousel-2{position:relative;}
.carousel-2 .w-carousel-bbr{position:absolute;bottom:0;height:30px!important;}
.carousel-2 .w-carousel-btn{width:10px;height:10px;background:#f2f2f2;border:0;margin:0 2px;border-radius:5px}
.carousel-2 .w-carousel-btn ._ico{display:none}
.carousel-2 .w-carousel-btn.z-on{background:#ff7921;}

.carousel-3{position:relative;}
.carousel-3 .w-carousel-big ._t{text-align:left;text-indent:10px}
.carousel-3 .w-carousel-bbr{position:absolute;bottom:0;right:10px;height:30px!important;width:auto!important}
.carousel-3 .w-carousel-btn{width:6px;height:6px;background:#f2f2f2;border:0;margin:0 3px;border-radius:3px}
.carousel-3 .w-carousel-btn ._ico{display:none}
.carousel-3 .w-carousel-btn.z-on{width:20px}
