/*
 * mobile.css
 */

@font-face {font-family:'icomoon';src:url('f/icomoon.ttf') format('truetype');font-weight:normal;font-style:normal;}
@font-face {font-family:'muiicons';src:url('f/mui.ttf') format('truetype');font-weight:normal;font-style:normal;}
.f-icon{display:inline-block;font-family:'muiicons';width:auto;height:auto;font-size:24px;font-style:normal;font-weight:400;text-decoration:none;-webkit-font-smoothing:antialiased}

.w-scroll{position:relative}
.w-scroll-overflow{background:inherit;position:relative;overflow:auto}
.w-scroll-swipedown{position:absolute;left:0;right:0;height:40px;text-align:center;visibility:hidden;overflow:hidden}
.w-scroll-swipedown .f-i:before{content:'\e588'}
.w-scroll-swipedown.z-release .f-i{-webkit-transform:rotate(180deg);-webkit-transition-duration:500ms;}
.w-scroll-swipedown.z-loading .f-i:before{content:''}
.w-scroll-swipedown.z-loading .f-i{width:24px;height:24px;background:url(g/loading.gif) no-repeat 50% 50%;vertical-align: middle;}

.w-combobox ._plus .f-i:before,.w-pickbox ._plus .f-i:before,.w-linkbox ._plus .f-i:before,.w-onlinebox ._plus .f-i:before{content:'\e409'}

.w-scroll-overflow .w-grid{overflow:visible}

/*
.w-leaf{position:relative;margin:0;padding:0;height:40px;cursor:default}
.w-leaf:after{position:absolute;right:0;bottom:0;left:15px;height:1px;content:'';-webkit-transform:scaleY(.5);transform:scaleY(.5);background-color:#c8c7cc;}
.w-leaf.z-on,.w-leaf.z-on .w-leaf-t{background:#fafafa}
.w-leaf-a{display:block;height:100%;text-decoration:none}
.w-leaf-a:after{position:absolute;content:'\e583';font-family:muiicons;font-size:20px;right:10px;top:50%;transform:translateY(-50%);-webkit-transform:translateY(-50%);color:#bbb;-webkit-font-smoothing:antialiased;}
.w-leaf.z-open .w-leaf-a:after{content:'\e581'}
.w-leaf-b.w-checkbox,.w-leaf-b.w-triplebox{padding:0 3px;text-align:center;line-height:0}
.w-leaf-o .f-arw{display:none}

.w-datepicker ._t{position:absolute;width:0;visibility:hidden;}
.w-datepicker ._a{display:block;height:100%;line-height:38px;overflow:hidden}
*/

.w-calendar-dialog{font-size:20px}
.w-calendar-head{height:40px;line-height:40px}
.w-calendar ._t,.w-calendar ._y,.w-calendar ._m{height:100%;vertical-align:middle;cursor:pointer}

.w-input{height:38px;}
.w-input ._t{line-height:38px}

.w-spinner.w-input.z-on,.w-date.w-input.z-on{border-color:rgba(0,0,0,.2)}
.w-spinner .f-boxbtn{width:30px;text-align:center;color:#666}
.w-spinner.z-ds .f-boxbtn{color:#aaa}
.w-spinner ._t{vertical-align:middle}
.w-spinner ._l{float:left;width:38px;height:100%;border-right:1px solid  rgba(0,0,0,.2);color:rgba(0,0,0,.5);text-align:center;font-size:32px;line-height:1.1;font-style:normal}
.w-spinner ._r{float:right;width:38px;height:100%;border-left:1px solid  rgba(0,0,0,.2);color:rgba(0,0,0,.5);text-align:center;font-size:32px;line-height:1.1;font-style:normal}

.w-combobox ._c{min-height:38px}
.w-combobox ._plus,.w-pickbox ._plus,.w-onlinebox ._plus,.w-linkbox ._plus,.w-combobox.z-ds ._plus:hover,.w-pickbox.z-ds:hover ._plus,.w-onlinebox.z-ds ._plus:hover{background:none}
.w-combobox ._plus .f-i:before,.w-pickbox ._plus .f-i:before,.w-linkbox ._plus .f-i:before,.w-onlinebox ._plus .f-i:before{content:'\e409'}
.w-combobox-opt{height:34px}

.w-jigsaw ._i{width:16px;height:16px}

.w-upload-value-simple{height:36px}

.f-boxbtn{width:30px;height:38px;line-height:38px;text-align:center;text-indent:0;font-style:normal}
.f-boxbtn .f-arw-b3{border-top-color:#99a8b8;*margin-top:3px}

/*
.f-i-back,.f-i-upload,.f-i-trash,.f-i-plus{background:none}
.f-i-back:before{content:'\e471';}
.f-i-upload:before{content:'\e402';}
.f-i-trash:before{content:'\e401';}
.f-i-plus:before{content:'\e409';}
*/

.f-i-file-vid{width:36px;height:36px;background:url(g/f.png) -97px -87px #8183e1}
.f-i-file-ppt{width:36px;height:36px;background:url(g/f.png) -241px -87px #f2bd2f}
.f-i-file-xls{width:36px;height:36px;background:url(g/f.png) -385px -87px #5ab04d}
.f-i-file-fla{width:36px;height:36px;background:url(g/f.png) -529px -87px #f04d58}
.f-i-file-fon{width:36px;height:36px;background:url(g/f.png) -97px -190px #5eb284}
.f-i-file-zip{width:36px;height:36px;background:url(g/f.png) -241px -190px #478de4}
.f-i-file-eps{width:36px;height:36px;background:url(g/f.png) -385px -190px #fd852d}
.f-i-file-txt{width:36px;height:36px;background:url(g/f.png) -529px -190px #f2bd2f}
.f-i-file-aud{width:36px;height:36px;background:url(g/f.png) -673px -190px #8183e1}
.f-i-file-chm{width:36px;height:36px;background:url(g/f.png) -97px -293px #f2bd2f}
.f-i-file-pdf{width:36px;height:36px;background:url(g/f.png) -241px -293px #f04d58}
.f-i-file-ai{width:36px;height:36px;background:url(g/f.png) -385px -293px #fd852d}
.f-i-file-psd{width:36px;height:36px;background:url(g/f.png) -529px -293px #018beb}
.f-i-file-img{width:36px;height:36px;background:url(g/f.png) -673px -293px #5ab04d}
.f-i-file-css{width:36px;height:36px;background:url(g/f.png) -97px -396px #fd852d}
.f-i-file-doc{width:36px;height:36px;background:url(g/f.png) -241px -396px #478de4}
.f-i-file-iso{width:36px;height:36px;background:url(g/f.png) -385px -396px #018beb}
.f-i-file-js{width:36px;height:36px;background:url(g/f.png) -529px -396px #018beb}
.f-i-file-file{width:36px;height:36px;background:url(g/f.png) -673px -396px #f2bd2f}
.f-i-file-htm{width:36px;height:36px;background:url(g/f.png) -97px -396px #478de4}
