@CHARSET "UTF-8";
/*默认按钮*/
.w-buttonbar .w-button,
.w-button.x-btn {
    border-radius: 0;
}

/**滚动条**/
.f-scroll-x .f-scroll-x-track {
    border-radius: 0;
}

.f-scroll-y .f-scroll-y-track {
    border-radius: 0;
}

/**根外框**/
.x-root {
    background-color: #edf0f2;
}

/**主体样式**/
.x-body {
    background-color: #edf0f2;
}

/**tab样式**/
.x-tab-bar {
    height: 42px;
    padding: 0 10px;
}

.x-tab-bar .w-buttonbar-line {
    display: block;
    height: 2px;
    background: #2498fd;
}

.x-tab-btn {
    background: #eee;
    margin-right: 8px;
    margin-top: 2px;
    color: #333;
    font-weight: bold;
}

.x-tab-btn.z-on {
    background: #2498fd;
    color: #fff;
}

.x-main {
    background-color: #fff;
}

.x-main-head {
    border-bottom: 1px solid #ddd;
}

.x-main-title {
    font-size: 16px;
    color: #333;
    padding:0 20px;
}

.x-main-oper {
    padding: 0 20px;
}

.x-main-nav {
    border-right: 1px solid #ddd;
}

.x-welcome {
    padding: 10px 20px;
    background-color: #fff;
}

.x-main-display {

}

.x-main-search {

}

.x-main-grid {
    padding: 10px 20px;
}

.x-main-page {
    padding: 0 20px;
}

.x-main-form {
    padding: 10px 20px;
}

.x-split-side {
    padding: 10px 20px 10px 10px;
}
